<h1>Listing apps_exceptions</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Way</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apps_exceptions.each do |apps_exception| %>
  <tr>
    <td><%= apps_exception.email %></td>
    <td><%= apps_exception.way %></td>
    <td><%= link_to 'Show', apps_exception %></td>
    <td><%= link_to 'Edit', edit_apps_exception_path(apps_exception) %></td>
    <td><%= link_to 'Destroy', apps_exception, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Apps exception', new_apps_exception_path %>
