<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @apps_exception.email %>
</p>

<p>
  <b>Way:</b>
  <%= @apps_exception.way %>
</p>


<%= link_to 'Edit', edit_apps_exception_path(@apps_exception) %> |
<%= link_to 'Back', apps_exceptions_path %>
