<h1>Listing aliases</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Emailaddress</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aliases.each do |alia| %>
  <tr>
    <td><%= alia.name %></td>
    <td><%= alia.emailaddress %></td>
    <td><%= link_to 'Show', alia %></td>
    <td><%= link_to 'Edit', edit_alias_path(alia) %></td>
    <td><%= link_to 'Destroy', alia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alias', new_alias_path %>
