<h1>Listing agendaitemtype_eventtypes</h1>

<table class="table table-striped">
  <tr>
    <th>Agendaitemtype</th>
    <th>Eventtype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agendaitemtype_eventtypes.each do |agendaitemtype_eventtype| %>
  <tr>
    <td><%= Agendaitemtype.find(agendaitemtype_eventtype.agendaitemtype_id).name %></td>
    <td><%= Eventtype.find(agendaitemtype_eventtype.eventtype_id).name %></td>
    <td><%= link_to 'Show', agendaitemtype_eventtype %></td>
    <td><%= link_to 'Edit', edit_agendaitemtype_eventtype_path(agendaitemtype_eventtype) %></td>
    <td><%= link_to 'Destroy', agendaitemtype_eventtype, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agendaitemtype eventtype', new_agendaitemtype_eventtype_path %>
