<p id="notice"><%= notice %></p>

<p>
  <b>Agendaitemtype:</b>
  <%= @agendaitemtype_eventtype.agendaitemtype_id %>
</p>

<p>
  <b>Eventtype:</b>
  <%= @agendaitemtype_eventtype.eventtype_id %>
</p>


<%= link_to 'Edit', edit_agendaitemtype_eventtype_path(@agendaitemtype_eventtype) %> |
<%= link_to 'Back', agendaitemtype_eventtypes_path %>
