<%= form_for @newsitem, :html => { :multipart => true } do |f| %>
  <% if @newsitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsitem.errors.count, "error") %> prohibited this newsitem from being saved:</h2>

      <ul>
      <% @newsitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:titnl).capitalize %>
    <%= f.text_field :title %>
	<%= f.label t(:titen).capitalize %>
    <%= f.text_field :title_en %>	
  </div>
  <div class="field">
    <%= f.label t(:berichtnl).capitalize %>
    <%= f.text_area :news, :class => "markItUp" %>
    <%= f.label t(:berichten).capitalize %>
    <%= f.text_area :news_en, :class => "markItUp" %>
  </div>
  <div class="field">
	  <%= f.label :profielfoto %>
	  <%= f.file_field :articlephoto %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn"%>
  </div>
<% end %>
