<h1>De volgende newsitems wachten op goedkeuring</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>News</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newsitems.each do |newsitem| %>
  <tr>
    <td><%= newsitem.title %></td>
    <td><%= newsitem.news %></td>
    <td><%= newsitem.user.name %></td>
    <td><%= icon_button newsitem, 'show', 'Preview' %></td>
    <td><%= icon_button({:controller => "newsitems", :action => "agreed", :id => newsitem.id}, 'check', 'Keur goed', :class => 'btn btn-success') %></td>
    <td><%= icon_button newsitem, 'remove', 'Destroy', :class => "btn btn-danger", :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= icon_button new_newsitem_path, 'add',  t('helpers.submit.newsitem.create'), :class => 'btn btn-success' %>
