.span12
  %h1 Nieuws
  -@newsitems.each do |newsitem|
    .row
      .span8.newsitem
        .row.newscontent
          .span8
            = image_tag newsitem.articlephoto.url(:normal), :class => "floatleft"
            %h1= newsitem.title
            = markdown newsitem.news
        .row.newscontent
          .span8
            = link_to raw("<i class='icon-edit'></i>"), edit_newsitem_path(newsitem) if can? :update, newsitem
            = link_to raw("<i class='icon-remove'></i>"), newsitem, confirm: 'Weet je het zeker?', method: :delete if can? :destroy, newsitem
            = time_tag newsitem.created_at
  .row
    .span12
      = link_to 'New Newsitem', new_newsitem_path if can? :create, Newsitem