%h1 Nieuws

.span10
  .row
    .span5
      -@newsitems.each do |newsitem|
        .row.newsitem
          %h1= newsitem.title
          = markdown newsitem.news
          = link_to raw("<i class='icon-edit'></i>"), edit_newsitem_path(newsitem) if can? :update, newsitem
          = time_tag newsitem.created_at
  .row
    = link_to 'New Newsitem', new_newsitem_path if can? :create, Newsitem
