.row
  .col-lg-12
    %h1= t('.kronos-news') 

.row
  .col-lg-8
    -@newsitems.each do |newsitem|
      .newsitem
        .row.newscontent
          .col-lg-12
            = image_tag newsitem.articlephoto.url(:normal), :class => "floatleft thumbnail"
            -if I18n.locale == :nl
              %h2= link_to newsitem.title, newsitem, {:name => newsitem.title, :class => "newslink"}
            -if I18n.locale == :en
              %h2= link_to newsitem.title_en, newsitem, {:name => newsitem.title_en, :class => "newslink"}
            %p.muted
              =time_tag(newsitem.created_at)+" | "+newsitem.user.name
              -if I18n.locale == :nl
                = markdown newsitem.news
              -if I18n.locale == :en
                = markdown newsitem.news_en
            .btn-toolbar
              .btn-group
                = link_to raw("<span class='glyphicon glpyhicon-edit'></span> Edit"), edit_newsitem_path(newsitem),:class => 'btn btn-mini' if can? :update, newsitem
                = link_to raw("<span class='glyphicon glyphicon-remove'></span> Delete"), newsitem,:class => 'btn btn-mini', confirm: 'Weet je het zeker?', method: :delete if can? :destroy, newsitem
.row
  .col-lg-12
    = will_paginate @newsitems, :previous_label => '<', :next_label => '>'
.row
  .col-lg-12.text-center
    = icon_button new_newsitem_path, 'plus', t(:new) if can? :create, Newsitem
