<h1>Listing newsitems</h1>

<table>
  <tr>
    <th>Title</th>
    <th>News</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newsitems.each do |newsitem| %>
  <tr>
    <td><%= newsitem.title %></td>
    <td><%= newsitem.news %></td>
    <td><%= link_to 'Lees verder', newsitem %></td>
    <td><%= link_to 'Edit', edit_newsitem_path(newsitem) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Newsitem', new_newsitem_path %>

<iframe width="420" height="315" src="http://www.youtube.com/embed/GfIAL7g2ol8?rel=0" frameborder="0" allowfullscreen></iframe>