<p>
  <b>Title:</b>
  <%= @newsitem.title %>
</p>

<p>
  <b>News:</b>
  <%= markdown @newsitem.news %>
</p>

<p>
  <b>Agreed:</b>
  <%= @newsitem.agreed %>
</p>

<% @newsitem.comments.each do |comment| %>
<p>
  <%= comment.reactiontext %>
</p>
<% end %>

<%= link_to 'Edit', edit_newsitem_path(@newsitem) %> |
<%= link_to 'Back', newsitems_path %>

<%= render 'reactions_form' %>