%article
  %header
    .row
      .col-md-8.col-md-offset-2
        -if I18n.locale == :nl
          %h1= @newsitem.title
        -if I18n.locale == :en
          %h1= @newsitem.title_en
        %p= time_tag(@newsitem.created_at)+" | "+@newsitem.user.name
  .row
    .col-md-8.col-md-offset-2
      = image_tag @newsitem.articlephoto.url(:normal), 
          { class:'img-responsive img-thumbnail',
            style: 'float:right,margin:10px', align:'right'}
      -if I18n.locale == :nl
        = markdown @newsitem.news
      -if I18n.locale == :en
        = markdown @newsitem.news_en


      - @newsitem.comments.each do |comment|
        %p comment.reactiontext

      = render 'reactions_form'
    .col-md-2
      - if can? :edit, @newsitem
        .panel.panel-default
          .panel-heading
            =t(:admin)
          .panel-body
            %p Geaccepteerd:
            = @newsitem.agreed
            .btn-group-vertical
              = icon_button edit_newsitem_path(@newsitem), 'edit', 
                  t(:edit), class: 'btn btn-warning'
              = icon_button @newsitem, 'remove', 
                  t(:delete), method: :delete, data: {confirm: 'Are you sure?'}, 
                  class: 'btn btn-danger'

