= form_for @folder do |f|
  
  = f.label t(:titnl).capitalize
  = f.text_field(:name)
  = f.label "Parent folder"
  = f.collection_select(:folder_id, @folders, :id, :name, {:include_blank => "Main folder"}, {:class => "form-control"})
  .actions
    = f.submit :class => "btn"
