= form_for @folder do |f|
  
  = f.label :title
  = f.text_field(:name)
  %br
  = f.label :folder
  = f.collection_select(:folder_id, @folders, :id, :name, {:include_blank => t('folder.main_folder')}, {:class => "form-control"})
  %br
  .actions
    = f.submit :class => "btn"
