.panel.list-group-item.list-group-item-heading
  %a{:href=>agendaitem_url(agendaitem)}
    .row
      .col-xs-1
        %h4
          = l agendaitem.date, format: '%d'
          = content_tag(:small, (l agendaitem.date, format: '%a'))
      .col-xs-2
        %h4
          %small= l agendaitem.date, format: '%H:%M'
      .col-xs-8
        %h4
          -if I18n.locale == :nl
            = agendaitem.name
          -if I18n.locale == :en
            = agendaitem.name_en
          -if I18n.locale == :nl
            = content_tag :small, (agendaitem.agendaitemtype.name )
          -if I18n.locale == :en
            = content_tag :small, (agendaitem.agendaitemtype.name_en )
      .col-xs-1.text-right
        - if agendaitem.subscriptions.count > 0
          %h4 
            %small
              %span.glyphicon.glyphicon-user
              = agendaitem.subscriptions.count
