= form_for(@agendaitem) do |f|
  .span12
    .row
      .span6
        .row
          = f.label :name
          = f.text_field :name, :placeholder => "Naam"
    .row
      .span6
        .row
          = f.label :intern
          = f.check_box :intern, :placeholder => "Van Kronos?"
    .row
      .span6
        .row
          = f.label :date
          = f.text_field :date, {:placeholder => "Datum", :class => "datumtijdprikker", :value => @agendaitem.date.strftime('%Y-%m-%d %H:%M')}
    .row
      .span6
        .row
          = f.label :description
          = f.text_area(:description, :rows => "10", :class => "input-xlarge")
    .row
      .span6
        .row
          = f.label :location
          = f.text_field :location, :placeholder => "Locatie"
    .row
      .span6
        .row
          = f.label :subscribe
          = f.check_box :subscribe, :placeholder => "Inschrijven?"
    .row
      .span6
        .row
          = f.label :subscriptiondeadline
          = f.text_field :subscriptiondeadline, {:placeholder => "Deadline", :class => "datumtijdprikker", :value => @agendaitem.subscriptiondeadline.strftime('%Y-%m-%d %H:%M')}
    .row
      .span6
        .row
          = f.label :category
          = f.select(:category, [['Baan-wedstrijd'], ['Cross-wedstrijd'], ['Indoor-wedstrijd'], ['Meerkamp-wedstrijd'], ['Weg-wedstrijd'], ['---'], ['Activiteit'], ['Bardienst'], ['Borrel'], ['Training'], ['Vergadering'], ['---'], ['Overig']])
    .row
      .span6
        .row
          = f.submit :class => "btn", :value => "Opslaan"