= form_for(@agendaitem, :url => url_for(:action => 'create_result')) do |f|
  %fieldset.form-group.row
    %legend
      =t(:raceinfo).capitalize
    = f.label(:name, {:class => "col-lg-2 col-form-label"})
    .col-lg-10
      = f.text_field(:name, {:placeholder => t(:name).capitalize, :class => "form-control"})
    = f.label(t(:nameen), {:class => "col-lg-2 col-form-label"})
    .col-lg-10
      = f.text_field(:name_en, {:placeholder => t(:nameen).capitalize, :class => "form-control"})
    = f.label(:agendaitemtype, {:class => "col-lg-2 col-form-label"})
    .col-lg-10
      = f.collection_select(:agendaitemtype_id, @agendaitemtypes, :id, :name, {}, {:class => "form-control"})
    = f.label(:date, {:class => "col-lg-2 col-form-label"})
    .col-lg-10
      = f.text_field :date, {:placeholder => "Datum", :class => "form-control datumtijdprikker", :value => @agendaitem.date.strftime("%Y-%m-%d %H:%M")}
    = f.label(:location, {:class => "col-lg-2 col-form-label"})
    .col-lg-10
      = f.text_field(:location, {:placeholder => t(:location), :class => "form-control"})
    .hidden
      = f.text_field(:description)
      = f.text_field(:description_en)
    .col-lg-12
      = f.submit :class => "btn", :value => t(:further).capitalize

