= nested_form_for(@agendaitem) do |f|
  .span12
    .row
      .span6
        .row
          %fieldset
            %legend Algemene informatie
            = f.label :name
            = f.text_field :name, :placeholder => "Naam"
            = f.label :intern
            = f.check_box :intern, :placeholder => "Van Kronos?"
            = f.label :agendaitemtype
            = f.collection_select(:agendaitemtype_id, Agendaitemtype.all, :id, :name)
            = f.label :date
            = f.text_field :date, {:placeholder => "Datum", :class => "datumtijdprikker"}
            = f.label :description
            = f.text_area(:description, :rows => "10", :class => "input-xlarge")
            = f.label :location
            = f.text_field :location, :placeholder => "Locatie"
            %hr
      .span6
        .row
          %fieldset
            %legend Optionele argumenten
            = f.label :commission
            = f.select(:commission_id, current_user.commissions.collect{ |x| [x.name, x.id] }, {:include_blank => 'None'})
      .span6
        .row
          %fieldset
            %legend Inschrijven
            = f.label :subscribe
            = f.check_box :subscribe, :placeholder => "Inschrijven?"
            = f.label :subscriptiondeadline
            = f.text_field :subscriptiondeadline, {:placeholder => "Deadline", :class => "datumtijdprikker"}
            %hr
      .span6
        .row
          %fieldset
            %legend Programma
            = f.fields_for :events do |event_field|
              %div{:class => "well span4"}
                .row
                  = event_field.label "Tijd", :class => "span1"
                  - if event_field.object.date.respond_to?(:strftime)
                    = event_field.text_field :date, {:class => "tijdprikker span1", :value => event_field.object.date.strftime('%H:%M')}
                  - else
                    = event_field.text_field :date, {:class => "tijdprikker span1", :value => Time.now.strftime('%H:%M')}
                .row
                  = event_field.label "Type", :class => "span1"
                  = event_field.select :eventtype_id, Eventtype.all.collect { |p| [p.name, p.id] }
                .row
                  = event_field.label "Afstand", :class => "span1"
                  = event_field.text_field :distance, :class => "span1"
                .row
                  .span4
                    = event_field.link_to_remove "Verwijder dit programmaonderdeel"
            .span4
              .row
                = f.link_to_add "Voeg een programmaonderdeel toe", :events
            %hr
    .row
      = f.submit :class => "btn", :value => "Opslaan"
