<%= form_for(@agendaitem) do |f| %>
  <% if @agendaitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agendaitem.errors.count, "error") %> prohibited this agendaitem from being saved:</h2>

      <ul>
      <% @agendaitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :intern %><br />
    <%= f.check_box :intern %>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select(:category, [['Baan-wedstrijd'], ['Cross-wedstrijd'], ['Indoor-wedstrijd'], ['Meerkamp-wedstrijd'], ['Weg-wedstrijd'], ['---'], ['Activiteit'], ['Bardienst'], ['Borrel'], ['Training'], ['Vergadering'], ['---'], ['Overig']]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
