= nested_form_for(@agendaitem) do |f|
  .row
    .col-lg-6
      %fieldset
        %legend 
          =t(:alginf).capitalize
        = f.label t(:namenl).capitalize
        = f.text_field :name, {:class => "form-control", :placeholder => t(:name).capitalize}
        = f.label t(:nameen).capitalize
        = f.text_field :name_en, {:class => "form-control", :placeholder => t(:name).capitalize}
        = f.label "Kronos Activiteit"
        = f.check_box :intern, {:class => "form-control", :placeholder => "Van Kronos?"}
        = f.label :agendaitemtype
        -if I18n.locale == :nl
          = f.collection_select(:agendaitemtype_id, Agendaitemtype.all, :id, :name, {}, {:class => "prototypetarget form-control"})
        -else
          = f.collection_select(:agendaitemtype_id, Agendaitemtype.all, :id, :name_en, {}, {:class => "prototypetarget form-control"})
        = f.label :date
        = f.text_field :date, {:placeholder => "Datum", :class => "datumtijdprikker form-control", :value => @agendaitem.date.strftime("%Y-%m-%d %H:%M")}
        = f.label t(:descriptionnl).capitalize
        = f.text_area(:description, :rows => "10", :class => "form-control input-xlarge")
        = f.label t(:descriptionen).capitalize
        = f.text_area(:description_en, :rows => "10", :class => "form-control input-xlarge")
        = f.label :location
        = f.text_field :location, {:class => "form-control", :placeholder => t(:location).capitalize}
        = f.label :url
        = f.text_field :url, {:placeholder => "Url", :class => "form-control"}
        %hr
    .col-lg-6
      .row
        .col-lg-12
          %fieldset
            %legend
              =t(:optarg).capitalize
            = f.label :commission
            = f.collection_select(:commission_id, @commissions, :id, :name, {:include_blank => t(:none).capitalize}, {:class => "form-control"})
      .row
        .col-lg-12
          %fieldset
            %legend
              =t(:subscribe).capitalize
            = f.label :subscribe
            = f.check_box :subscribe, {:class => "form-control", :placeholder => "Inschrijven?"}
            = f.label :subscriptiondeadline
            -if @agendaitem.subscriptiondeadline
              = f.text_field :subscriptiondeadline, {:placeholder => "Deadline", :class => "form-control datumtijdprikker", :value => @agendaitem.subscriptiondeadline.strftime("%Y-%m-%d %H:%M")}
            -else
              = f.text_field :subscriptiondeadline, {:placeholder => "Deadline", :class => "form-control datumtijdprikker"}
            %hr
      .row
        .col-lg-12
          %fieldset
            %legend
              =t(:programme).capitalize
            - @selects = {}
            - Agendaitemtype.all.each do |item|
              - @selects[item.id] = "'"+options_for_select(item.eventtypes.collect { |p| [p.name, p.id] })+"'"
            = f.fields_for :events do |event_field|
              %div{:class => "well col-lg-12"}
                .row
                  .col-lg-12
                    = event_field.label "Tijd", :class => "span1"
                    - if event_field.object.date.respond_to?(:strftime)
                      = event_field.text_field :date, {:class => "form-control tijdprikker span1", :value => event_field.object.date.strftime('%H:%M')}
                    - else
                      = event_field.text_field :date, {:class => "form-control tijdprikker span1", :value => Time.now.strftime('%H:%M')}
                .row
                  .col-lg-12
                    = event_field.label "Type", :class => "span1"
                    = event_field.select(:eventtype_id, Eventtype.all.collect{ |p| [p.name, p.id] }, {}, {class: "form-control prototypeselect"})
                .row
                  .col-lg-12
                    = event_field.label "Afstand", :class => "span1"
                    = event_field.text_field :distance, :class => "span1 form-control"
                .row
                  .col-lg-12
                    = event_field.link_to_remove "Verwijder dit programmaonderdeel"
      .row
        .col-lg-12
          = f.link_to_add t(:addprog).capitalize, :events
          %hr
  .row
    .col-lg-12
      = f.submit :class => "btn", :value => t(:save).capitalize

:javascript
  $(document).on('nested:fieldAdded', function(event){
    var protoField = event.field.find('.prototypeselect');
    $(protoField).html($(protoField).data($(".prototypetarget").val()));
  });
  $(document).ready(function(){
    $(".prototypeselect").each(function(key,value){
      $(value).html($(value).data($(".prototypetarget").val()));
    });
  });
  $(".prototypetarget").change(function(){
    $(".prototypeselect").each(function(key,value){
      $(value).html($(value).data($(".prototypetarget").val()));
    });
  });
