= form_for(@agendaitem) do |f|
  .span12
    .row
      .span6
        .row
          %fieldset
            %legend Algemene informatie
            = f.label :name
            = f.text_field :name, :placeholder => "Naam"
            = f.label :intern
            = f.check_box :intern, :placeholder => "Van Kronos?"
            = f.label :category
            = f.select(:category, [['Baan-wedstrijd'], ['Cross-wedstrijd'], ['Indoor-wedstrijd'], ['Meerkamp-wedstrijd'], ['Weg-wedstrijd'], ['---'], ['Activiteit'], ['Bardienst'], ['Borrel'], ['Training'], ['Vergadering'], ['---'], ['Overig']])
            = f.label :date
            = f.text_field :date, {:placeholder => "Datum", :class => "datumtijdprikker", :value => @agendaitem.date.strftime('%Y-%m-%d %H:%M')}
            = f.label :description
            = f.text_area(:description, :rows => "10", :class => "input-xlarge")
            = f.label :location
            = f.text_field :location, :placeholder => "Locatie"
            %hr
      .span6
        .row
          %fieldset
            %legend Optionele argumenten
            = f.label :commission
            = f.text_field :commission
      .span6
        .row
          %fieldset
            %legend Inschrijvingen
            = f.label :subscribe
            = f.check_box :subscribe, :placeholder => "Inschrijven?"
            = f.label :subscriptiondeadline
            = f.text_field :subscriptiondeadline, {:placeholder => "Deadline", :class => "datumtijdprikker", :value => @agendaitem.subscriptiondeadline.strftime('%Y-%m-%d %H:%M')}
            %hr
      .span6
        .row
          %fieldset
            %legend Programma
            %hr
    .row
      = f.submit :class => "btn", :value => "Opslaan"
