= form_for(@subscription, :url => "#{@subscription.agendaitem.id}/subscriptions") do |f|
  .row
    .col-lg-12
      = f.text_field :name, :class => "input-medium", :placeholder => "naam", :readonly => true
  .row
    .col-lg-12
      = f.submit :class => "btn", :value => "Inschrijven"
  .row
    .col-lg-12
      = f.label :opmerking
  .row
    .col-lg-12
      = f.text_area(:comment, :rows => "5", :class => "input-xlarge")
      = f.hidden_field :agendaitem_id
