<p>
  <b>Naam:</b>
  <%= @agendaitem.name %>
</p>
<p>
  <b>Commissie:</b>
  <%= @agendaitem.commission.name %>
</p>
<p>
  <b>Beschrijving:</b>
  <%= @agendaitem.description %>
</p>
<p>
  <b>Datum:</b>
  <%= @agendaitem.date.strftime("%d %b (%H:%M)") %>
</p>
<p>
  <b>Locatie:</b>
  <%= @agendaitem.location %>
</p>
<% if @agendaitem.subscribe %>
<p>
  <b>Subscription deadline:</b>
  <%= @agendaitem.subscriptiondeadline %>
</p>
<% end %>
<p>
  <b>Events:</b>
  <ul>
<% @agendaitem.events.each do |event|  %>
    <li><%= event.eventtype.name %> <%= event.date.strftime("(%H:%M)") %></li>
<% end %>
  </ul>
</p>

<% if current_user %>
<p>
  <b>Subscriptions:</b>
  <ul>
<% @agendaitem.subscriptions.each do |subscription| %>
    <li><%= subscription.name %> <%= subscription.comment %></li>
<% end %>
  </ul>
</p>

<% subscribe = true %>
<% @agendaitem.subscriptions.each do |u| %>
<% if u.user == current_user %>
<% subscribe = false %>
<p>
  <b>Subscribe:</b>
  <div>You have already subscribed!</div>
</p>
<% end %>
<% end %>
<% if subscribe %>
<p>
  <b>Subscribe:</b>
  <%= render 'subscription_form' %>
</p>
<% end %>
<% end %>


<p>
  <b>Reactions:</b>
<% @agendaitem.reactions.each do |reactie| %>
<dl>
  <dd>
    <%= reactie.reactiontext %>
  </dd>
</dl>
<% end %>
</p>

<%= link_to 'Edit', edit_agendaitem_path(@agendaitem) %> |
<%= link_to 'Back', agendaitems_path %>

<%= render 'reactions_form' %>