.row
  .col-md-12
    %h1 
      = t('.agenda').capitalize
      %small= l @date, format: '%b %Y'
.row
  .col-md-12
    %ul.nav.nav-tabs
      - 2.downto(1).each.map{|n| @date - n.months }.each do |d|
        %li{role: 'presentation'}
          = link_to (l d, format: '%b %Y'), 
              controller: 'agendaitems', 
              action: 'index', 
              date: {year: d.year, month: d.month}  
      %li.active{:role => 'presentation'}
        = link_to (l @date, format: '%b %Y'),'#'
      - (1..2).each.map{|n| @date + n.months }.each do |d|
        %li{:role=> 'presentation'}
          = link_to (l d, format: '%b %Y'), 
            controller: 'agendaitems', 
            action: 'index', 
            date: {year: d.year, month: d.month}  
      = form_tag({controller: 'agendaitems', action: 'index'}, method: 'get', class: 'navbar-form navbar-left') do
        .form-group
          = text_field :date, :month, :class => 'form-control maandprikker', :size=>'2', value: @date.month
          = text_field :date, :year, :class => 'form-control jaarprikker', :size=>'4', value: @date.year
          = button_tag t(:zoek).capitalize, class: 'btn btn-default'
.row 
  .col-md-12.filter-row
    %ul{class: 'nav nav-pills'}
      - if params[:agendaitemtype].blank?
        %li{class: 'active'}
          = link_to t(:all_agendaitemtypes).capitalize, agendaitems_path
      - else
        %li
          = link_to t(:all_agendaitemtypes).capitalize, agendaitems_path
      - Agendaitemtype.all.each do |agendaitemtype |
        - if agendaitemtype.id == params[:agendaitemtype].to_f
          %li{class: 'active'}
            -if I18n.locale == :nl
              = link_to agendaitemtype.name, agendaitems_path(agendaitemtype: agendaitemtype.id)
            -else
              = link_to agendaitemtype.name_en, agendaitems_path(agendaitemtype: agendaitemtype.id)
        -else
          %li
            -if I18n.locale == :nl
              = link_to agendaitemtype.name, agendaitems_path(agendaitemtype: agendaitemtype.id)
            -else
              = link_to agendaitemtype.name_en, agendaitems_path(agendaitemtype: agendaitemtype.id)
.row
  .col-md-12
    .list-group.panel-group
      = render partial: 'agendaitems/agendaitem_panel', collection: @agendaitems, as: :agendaitem
      - if @agendaitems.empty? 
        %p{:class=>'text-center text-info'}=t '.no_agendaitems_found' 
  -if can? :create, Agendaitem
    .col-md-12.text-center
      = icon_button new_agendaitem_path, 'plus', t('add').capitalize 
