.row
  .col-lg-12
    %h1.push-down-for-logo
      Kronos Agenda - 
      - if @agendaitems.first
        = I18n.localize(@agendaitems.first.date.to_date)
.row
  .col-lg-8
    - @agendaitems.each do |agendaitem|
      .row.activityoverview
        .col-lg-12
          .row
            %div{:class => (agendaitem.subscribe? ? 'col-lg-8' : 'col-lg-12')}
              .row
                .col-lg-12
                  %h2.head.no-space.start
                    = agendaitem.name
              .row
                .col-lg-6
                  Wat:
                  = if agendaitem.intern; 'Kronos ' else 'Externe ' end
                  = agendaitem.agendaitemtype.name if agendaitem.agendaitemtype
                .col-lg-6
                  Wanneer:
                  = I18n.localize(agendaitem.date, :format => "%d %B %H:%M")
              .row
                .col-lg-6
                  Waar:
                  = agendaitem.location
                .col-lg-6
                  = link_to agendaitem.url, agendaitem.url
              .row
                .col-lg-12
                  .description
                    = simple_format(agendaitem.description)
                
            - if agendaitem.subscribe
              .col-lg-4
                .row
                  .col-lg-12
                    %h2.head.no-space.end
                      %i{:class => "glyphicon white glyphicon-play"}
                      Subscriptions
                .row
                  .col-lg-12
                    - if current_user
                      - agendaitem.subscriptions.each do |subscription|
                        .row
                          .col-lg-12
                            - if subscription.user
                              = link_to subscription.user.name, subscription.user, :class => "subscriptionrow"
                            - else
                              %a{:class => "subscriptionrow"}
                                = subscription.name
                            
          .row
            %div{:class => (agendaitem.subscribe? ? 'col-lg-8' : 'col-lg-12')}
              .foot.no-space.start
                = link_to 'Lees meer', agendaitem_path(agendaitem)
            - if agendaitem.subscribe
              .col-lg-4
                .foot.no-space.end
                  = link_to 'Subscribe', agendaitem_path(agendaitem), :class => "subscribebutton"
      
  .col-lg-4
    .row
      - if @agendaitems.first
        - fdat = @agendaitems.first.date.strftime("%Y-%m")
      - else
        - fdat = '0000-00'
      .monthpicker{"data-selected" => fdat}
        - @cals.each_with_index do |cal, index|
          %a{:class => "head", "data-toggle" => "#collapse"+index.to_s}
            = I18n.localize(cal.second.to_date, :format => "%B")
        - @cals.each_with_index do |cal, index|
          %div{:class => "collapser", :id => "collapse"+index.to_s, "data-date" => cal.second.strftime("%Y-%m")}
            = calendar(:year => cal.second.year, :month => cal.second.month, :first_day_of_week => 1) do |d|
              - if @dates.keys.include?(d.strftime("%F"))
                - link_to d.strftime("%d"), perdag_url(d.strftime("%F")), {:class => @dates[d.strftime("%F")]["htmlclass"], "data-toggle" => "tooltip", "title" => @dates[d.strftime("%F")]["tooltips"]}
              - else
                - '<div>' + d.strftime("%e") + '</div>'
.row
  .col-lg-12
    = link_to 'Nieuw agendapunt', new_agendaitem_path
