%h1 Kronos agenda
%br
.span12
  .row
    - @agendaitems.each do |agendaitem|
      .span8
        .activityoverview
          .row
            .span6
              .row{:class => "head"}
                %h3
                  = agendaitem.name
              .row{:class => "information"}
                .span1
                  .row
                    Wat:
                .span2
                  .row
                    = if agendaitem.intern; 'Kronos ' else 'Externe ' end
                    = agendaitem.agendaitemtype.name if agendaitem.agendaitemtype
                .span1
                  .row
                    Wanneer:
                .span2
                  .row
                    = agendaitem.date.strftime("%d %B %H:%M")
              .row{:class => "information"}
                .span1
                  .row
                    Waar:
                .span5
                  .row
                    = agendaitem.location
              .row{:class => "description"}
                %p
                  = simple_format(agendaitem.description)
            .span2
              .row{:class => "head"}
                %h3
                  %i{:class => "icon-white icon-play"}
                  Subscriptions
              - if agendaitem.subscribe and current_user
                - agendaitem.subscriptions.each do |subscription|
                  .row
                    - if subscription.user
                      = link_to subscription.user.name, subscription.user, :class => "subscriptionrow"
                    - else
                      %a{:class => "subscriptionrow"}
                        = subscription.name
          .row
            .span6
              .row{:class => "foot"}
                = link_to 'Lees meer', agendaitem_path(agendaitem)
            .span2
              .row{:class => "foot"}
                = link_to 'Subscribe', agendaitem_path(agendaitem), :class => "subscribebutton"
    .span4
      .row
        %a Hier komt een kalender te staan
