.row
  .col-lg-12
    %h1.push-down-for-logo
      =@agendaitem.name
.row
  .col-lg-8
    %ul.list-inline.small
      %li
        %span.glyphicon.glyphicon-tag        
        = if @agendaitem.intern; 'Kronos ' else 'Externe ' end
        = @agendaitem.agendaitemtype.name if @agendaitem.agendaitemtype    
      %li
        %span.glyphicon.glyphicon-calendar 
        = @agendaitem.date.strftime("%d %B %H:%M")
      - unless @agendaitem.location.empty?
        %li
          %span.glyphicon.glyphicon-map-marker
          = @agendaitem.location
      - if @agendaitem.url
        %li
          %span.glyphicon.glyphicon-globe
          = link_to @agendaitem.get_url_name, @agendaitem.get_url
      - if @agendaitem.commission
        %li
          %span.glyphicon.glyphicon-book 
          = link_to @agendaitem.commission.name, @agendaitem.commission
      %li 
        %a{:class => 'btn btn-mini fb-share icon-fb'}
          %span.glyphicon
          Share

    %p= simple_format(@agendaitem.description)

    - if current_user
      .bs-callout
        - @agendaitem.comments.each do |comment|
          .row
            -if comment.user
              .col-lg-1
                = link_to image_tag(comment.user.avatar.url(:thumb),:class=>'img-rounded'), comment.user
              .col-lg-11
                = link_to comment.user.name, comment.user
                %span.small
                  - if comment.created_at > 1.day.ago
                    = h time_ago_in_words comment.created_at
                    geleden
                  - else
                    = time_tag(comment.created_at)
                %p= comment.commenttext
        = render 'comments_form'
    
  .col-lg-4
    - if can? :update, @agendaitem
      .btn-group.btn-group-sm
        = link_to 'Bewerk', edit_agendaitem_path(@agendaitem), class: 'btn btn-default'
        -if can? :destroy, @agendaitem
          = link_to 'Verwijder', @agendaitem, confirm: 'Weet je zeker dat je dit agendaitem wilt verwijderen?', method: :delete, class: 'btn btn-default'
        -if can? :edit, @agendaitem.events
          = link_to 'Resultaten aanpassen', agendaitem_events_path(@agendaitem), class: 'btn btn-default'
      %br
      %br


    .panel.panel-default
      .panel-heading Programma
      -if @agendaitem.events.empty?
        .panel-body
          %p.text-info Geen programma
      %table{:class=>'table'}
        %tbody
          -@agendaitem.events.each do |event|
            %tr
              %td= event.date.strftime("%H:%M")
              %td
                -if event.eventtype
                  = event.eventtype.name
                = number_to_human event.distance, :units => :distance

    - if @agendaitem.subscribe
      - if current_user
        .panel{:class => inschrijvingen_panel_type(@agendaitem, @subscription)}
          .panel-heading 
            Inschrijflijst
            .small
              - unless @agendaitem.deadline_passed?
                nog
                = h distance_of_time_in_words(@agendaitem.subscriptiondeadline, Time.now)
                open
          .list-group
            - if @agendaitem.subscriptions.empty?  
              .list-group-item
                %p.text-info Geen inschrijvingen
            - @agendaitem.subscriptions.each do |subscription|
              .list-group-item
                =subscription.name
                .small= subscription.comment
                - if can? :destroy, subscription
                  = link_to 'Uitschrijven', [@agendaitem, subscription], confirm: 'Weet je het zeker dat je deze persoon wilt uitschrijven?', method: :delete
          .panel-footer
            - unless @agendaitem.deadline_passed?
              - if @subscription.new_record?
                = render 'subscription_form', object: @subscription
              - else # al ingeschreven
                = link_to 'Uitschrijven', [@agendaitem, @subscription] , confirm: 'Weet je het zeker dat je je wilt uitschrijven?', method: :delete, class: 'btn btn-danger'
            - else # buiten inschrijfdeadline
              Gesloten
      - else # Niet ingelogd      
        .panel.panel-info
          .panel-heading Inschrijflijst
          .panel-body Je moet inloggen om inschrijvingen te zien of aan te vullen. 
    -if can? :update, @agendaitem.subscriptions
      = link_to 'Inschrijvingen aanpassen', agendaitem_subscriptions_path(@agendaitem) , class: 'btn btn-sm btn-default'
    
