.row
  .col-lg-12
    %h1
      -if I18n.locale == :nl
        = @agendaitem.name
        %small= @agendaitem.agendaitemtype.name if @agendaitem.agendaitemtype
      -if I18n.locale == :en
        = @agendaitem.name_en
        %small= @agendaitem.agendaitemtype.name_en if @agendaitem.agendaitemtype
.row
  .col-lg-8
    .row 
      .col-xs-1.text-right
        = icon 'time'
      .col-xs-4
        = l @agendaitem.date, format: :date 
        = l @agendaitem.date, format: :time
        = icon_button ({:controller => :agendaitems, :action => "icalendar"}), 'calendar', t(:addtocalendar), :class => 'btn btn-sm btn-primary'
    - if @agendaitem.location.present?
      .row 
        .col-xs-1.text-right
          %span.glyphicon.glyphicon-map-marker
        .col-xs-11
          %p= @agendaitem.location
    - if @agendaitem.url.present?
      .row
        .col-xs-1.text-right
          %span.glyphicon.glyphicon-globe
        .col-xs-11
          %p= link_to @agendaitem.get_url_name, @agendaitem.get_url
    - if @agendaitem.commission.present?
      .row
        .col-xs-1.text-right
          %span.glyphicon.glyphicon-book
        .col-xs-11
          -if I18n.locale == :nl
            %p= link_to @agendaitem.commission.name, @agendaitem.commission
          -if I18n.locale == :en
            %p= link_to @agendaitem.commission.name_en, @agendaitem.commission
    .row
      .col-xs-1.text-right
        %span.glyphicon.glyphicon-align-left
      .col-xs-11
        %p.text-left
          -if I18n.locale == :nl		
            = simple_format(@agendaitem.description)
          -if I18n.locale == :en		
            = simple_format(@agendaitem.description_en)
    - if @agendaitem.events.present?
      .row
        .col-xs-12
          %h3{id: 'results'}
            = t('.results')
      .row
        .col-xs-12
          = render partial: 'results/result_event', collection: @agendaitem.events, as: :event
    -# - if current_user
    -#   .bs-callout
    -#     - @agendaitem.comments.each do |comment|
    -#       .row
    -#         -if comment.user
    -#           .col-lg-1
    -#             = link_to image_tag(comment.user.avatar.url(:thumb),:class=>'img-rounded'), comment.user
    -#           .col-lg-11
    -#             = link_to comment.user.name, comment.user
    -#             %span.small
    -#               - if comment.created_at > 1.day.ago
    -#                 = h time_ago_in_words comment.created_at
    -#                 geleden
    -#               - else
    -#                 = time_tag(comment.created_at)
    -#             %p= comment.commenttext
    -#     = render 'comments_form'
  .col-lg-4
    - if can?(:update, @agendaitem) || can?(:destroy, @agendaitem) || can?(:create, Result)
      .btn-group.btn-group-sm
        -if can? :update, @agendaitem
          = link_to t(:edit).capitalize, edit_agendaitem_path(@agendaitem), class: 'btn btn-default'
        -if can? :destroy, @agendaitem
          = link_to t(:remove).capitalize, @agendaitem, confirm: 'Weet je zeker dat je dit agendaitem wilt verwijderen?', method: :delete, class: 'btn btn-default'
        -if can? :create, Result
          = link_to t(:edres).capitalize, agendaitem_events_path(@agendaitem), class: 'btn btn-default'
      %br
      %br
    .panel.panel-default
      .panel-heading
        =t(:programme).capitalize
      -if @agendaitem.events.empty?
        .panel-body
          %p.text-info
            =t(:noprog).capitalize
      %table{:class=>'table'}
        %tbody
          -@agendaitem.events.each do |event|
            %tr
              %td= event.date.strftime("%H:%M")
              %td
                -if event.eventtype
                  = event.eventtype.name
                = number_to_human event.distance, :units => :distance

    - if @agendaitem.subscribe
      - if current_user
        .panel{:class => inschrijvingen_panel_type(@agendaitem, @subscription)}
          .panel-heading 
            = t(:'agendaitem.subscriptions').capitalize
            .small
              - unless @agendaitem.deadline_passed?
                = t('agendaitem.subscription_time_remaining', time: distance_of_time_in_words(@agendaitem.subscriptiondeadline, Time.now))
                %br
                -if @agendaitem.maxsubscription.present?
                  = t('agendaitem.subscription_subscriptions_remaining', subscriptions: @agendaitem.maxsubscription-@agendaitem.subscriptions.where(reserve: false).count)
          .list-group
            - if @agendaitem.subscriptions.empty?  
              .list-group-item
                %p.text-info Geen inschrijvingen
            - @agendaitem.subscriptions.order(created_at: :asc).each do |subscription|
              .list-group-item
                =subscription.name
                .small= subscription.comment
                - if subscription.reserve
                  .small
                    %i
                      = t('subscription.reserve').capitalize
                - if can? :destroy, subscription
                  = link_to t('agendaitem.unsubscribe').capitalize, [@agendaitem, subscription], confirm: 'Weet je het zeker dat je deze persoon wilt uitschrijven?', method: :delete
          .panel-footer
            - unless @agendaitem.deadline_passed?
              - if @subscription.new_record?
                -if @agendaitem.maxsubscription.present? && @agendaitem.maxsubscription <= @agendaitem.subscriptions.where(reserve: false).count
                  = t('agendaitem.subscriptions_full').capitalize
                = render 'subscription_form', object: @subscription
              - else # al ingeschreven
                = link_to t('agendaitem.unsubscribe').capitalize, [@agendaitem, @subscription] , confirm: 'Weet je het zeker dat je je wilt uitschrijven?', method: :delete, class: 'btn btn-danger'
            - else # buiten inschrijfdeadline
              Gesloten
      - else # Niet ingelogd      
        .panel.panel-info
          .panel-heading Inschrijflijst
          .panel-body Je moet inloggen om inschrijvingen te zien of aan te vullen. 
    -if can? :update, @agendaitem.subscriptions
      = link_to t(:edsub).capitalize, agendaitem_subscriptions_path(@agendaitem) , class: 'btn btn-sm btn-default'
