<p id="notice"><%= notice %></p>

<p>
  <b>Agendaitem:</b>
  <%= @agendaitem.name %>
</p>
  
<% @agendaitem.events.each do |event|
if event.eventtype.measuringunit.blank? == false %>
<table>
  <tr>
    <th><%= event.eventtype.name %></th>
  </tr>
  <tr>
    <th>Naam</th>
    <th>Uitslag (<%= event.eventtype.measuringunit %>)</th>
    <th><%= event.eventtype.calculated_unit %></th>
  </tr>
<% event.results.each do |result| %>
  <tr>
    <td><%= if result.user; result.user.name else result.username end %></td>
    <td><%= result.result %></td>
<% expressie = event.eventtype.calculation.gsub('r', result.result.to_s) %>
<% result.timetoseconds(expressie) %>
    <td><%= result.stringcal(expressie)[/^\-?\d+\.?\d?\d?/] %></td>
  </tr>
<% end %>
</table>
<% end %>
<% end %>

<%= link_to 'Back', results_path %>