= form_for(@photoalbum) do |f|
  .input-group
    = f.label :name
    = f.text_field(:name, {:class => "form-control"})
  .input-group
    = f.label :public
    - if can? :publish, @photoalbum
      = f.check_box(:public, {:class => "form-control"})
    - else
      = f.check_box(:public, {:disabled => "disabled", :class => "form-control"})

  = f.label :agendaitem
  = f.select(:agendaitem_id, [[]])

  :javascript
    var states = #{raw Agendaitem.all.to_json.html_safe};
    $('#photoalbum_agendaitem_id').selectize({
        valueField: 'id',
        labelField: 'name',
        searchField: 'name',
        items: [#{@photoalbum.agendaitem_id}],
        create: false,
        render: {
            option: function(item, escape) {
               return '<div>' +                    
                  '<span class="name">' + escape(item.name) + ' - </span> '+
                  '<small>'+ item.date + '</small>' +
                '</div>';
            }
        },
        options: states
    });

  = f.label :Date
  = f.text_field :eventdate, {:placeholder => "Datum", :class => "datumtijdprikker form-control"}
  .actions
    = f.submit :class => "btn"
  
- if params[:action]==("edit")
  <h2>
  = t('photos.title')
  </h2>
  <form id="fileupload" class="edit_photoalbum" method="post" enctype="multipart/form-data" action="/photoalbums/#{@photoalbum.id}/photos" accept-charset="UTF-8">
  <div class="row fileupload-buttonbar">
  <div class="span7">
  <!-- The fileinput-button span is used to style the file input field as button -->
  <span class="btn btn-success fileinput-button">
  <i class="icon-plus icon-white"></i>
  <span>Add files...</span>
  <input multiple type="file" name="photo[photo]" id="photo_photo">
  </span>
  <button type="submit" class="btn btn-primary start">
  <i class="icon-upload icon-white"></i>
  <span>Start upload</span>
  </button>
  <button type="reset" class="btn btn-warning cancel">
  <i class="icon-ban-circle icon-white"></i>
  <span>Cancel upload</span>
  </button>
  <button type="button" class="btn btn-danger delete">
  <i class="icon-trash icon-white"></i>
  <span>Delete</span>
  </button>
  <input type="checkbox" class="toggle">
  </div>
  <div class="span5">
  <!-- The global progress bar -->
  <div class="progress progress-success progress-striped active fade">
  <div class="bar" style="width:0%;"></div>
  </div>
  </div>
  </div>
  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-loading"></div>
  <br>
  <!-- The table listing the files available for upload/download -->
  <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
  </form>
    
  <div id="modal-gallery" class="modal modal-gallery hide fade">
  <div class="modal-header">
  <a class="close" data-dismiss="modal">&times;</a>
  <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
  <a class="btn btn-primary modal-next">
  <span>Next</span>
  <i class="icon-arrow-right icon-white"></i>
  </a>
  <a class="btn btn-info modal-prev">
  <i class="icon-arrow-left icon-white"></i>
  <span>Previous</span>
  </a>
  <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
  <i class="icon-play icon-white"></i>
  <span>Slideshow</span>
  </a>
  <a class="btn modal-download" target="_blank">
  <i class="icon-download"></i>
  <span>Download</span>
  </a>
  </div>
  </div>
  
  <!-- The template to display files available for upload -->
  <script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
  <td>
  <span class="preview"></span>
  </td>
  <td>
  <p class="name">{%=file.name%}</p>
  <strong class="error text-danger"></strong>
  </td>
  <td>
  <p class="size">Processing...</p>
  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
  </td>
  <td>
  {% if (!i && !o.options.autoUpload) { %}
  <button class="btn btn-primary start" disabled>
  <i class="glyphicon glyphicon-upload"></i>
  <span>Start</span>
  </button>
  {% } %}
  {% if (!i) { %}
  <button class="btn btn-warning cancel">
  <i class="glyphicon glyphicon-ban-circle"></i>
  <span>Cancel</span>
  </button>
  {% } %}
  </td>
  </tr>
  {% } %}
  </script>
  <!-- The template to display files available for download -->
  <script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-download fade">
  <td>
  <span class="preview">
  {% if (file.thumbnail_url) { %}
  <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnail_url%}"></a>
  {% } %}
  </span>
  </td>
  <td>
  <p class="name">
  {% if (file.url) { %}
  <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnail_url?'data-gallery':''%}>{%=file.name%}</a>
  {% } else { %}
  <span>{%=file.name%}</span>
  {% } %}
  </p>
  {% if (file.error) { %}
  <div><span class="label label-danger">Error</span> {%=file.error%}</div>
  {% } %}
  </td>
  <td>
  <span class="size">{%=o.formatFileSize(file.size)%}</span>
  </td>
  <td>
  {% if (file.delete_url) { %}
  <button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
  <i class="glyphicon glyphicon-trash"></i>
  <span>Delete</span>
  </button>
  <input type="checkbox" name="delete" value="1" class="toggle">
  {% } else { %}
  <button class="btn btn-warning cancel">
  <i class="glyphicon glyphicon-ban-circle"></i>
  <span>Cancel</span>
  </button>
  {% } %}
  </td>
  </tr>
  {% } %}
  </script>

  :javascript
    window.locale = {
        "fileupload": {
            "errors": {
                "maxFileSize": "File is too big",
                "minFileSize": "File is too small",
                "acceptFileTypes": "Filetype not allowed",
                "maxNumberOfFiles": "Max number of files exceeded",
                "uploadedBytes": "Uploaded bytes exceed file size",
                "emptyResult": "Empty file upload result"
            },
            "error": "Error",
            "start": "Start",
            "cancel": "Cancel",
            "destroy": "Delete"
        }
    };

  :javascript
    $(function () {
        'use strict';

        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload({
          sequentialUploads: true,
          maxFileSize: 4000000,
          acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
          disableImageResize: /Android(?!.*Chrome)|Opera/
              .test(window.navigator && navigator.userAgent)
        });
        
        // Load existing files:
          $('#fileupload').each(function () {
                var that = this;
                $.getJSON(this.action, function (result) {
                    if (result && result.length) {
                        $(that).fileupload('option', 'done')
                            .call(that, {isDefaultPrevented: function() {return false}}, {result: {files: result}});
                    };
               });
          });
    });
    
