<h1>Listing photoalbums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Agendaitem</th>
    <th>Photos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photoalbums.each do |photoalbum| %>
  <tr>
    <td><%= photoalbum.name %></td>
    <td><%= if photoalbum.agendaitem; photoalbum.agendaitem.name end %></td>
    <td><%= photoalbum.photos.count %></td>
    <td><%= link_to 'Show', photoalbum %></td>
    <td><%= link_to 'Edit', edit_photoalbum_path(photoalbum) %></td>
    <td><%= link_to 'Destroy', photoalbum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photoalbum', new_photoalbum_path %>
