<p>
  <b>Name:</b>
  <%= @photoalbum.name %>
</p>
<p>
  <b>Agendaitem:</b>
  <%= if @photoalbum.agendaitem; @photoalbum.agendaitem.name end %>
</p>
<p>
  <b>Photos:</b>
  <% @photoalbum.photos.each do |photo| %>
  <div>
    <% if photo.youtube_id == "" %>
      <%= link_to(image_tag(photo.photo.url(:thumb)), photo) %>
    <% else %>
      <%= link_to(image_tag("http://img.youtube.com/vi/"+photo.youtube_id+"/0.jpg"), photo) %>
    <% end %>
    <%= photo.caption %>
  </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_photoalbum_path(@photoalbum) %> |
<%= link_to 'Back', photoalbums_path %>
