.row
  .col-lg-12
    %h1.push-down-for-logo
      = @photoalbum.name
    %p
      %small
        - unless @photoalbum.agendaitem.nil? 
          evenement op:
          = time_tag @photoalbum.agendaitem.date
          = raw("-")
          = link_to @photoalbum.agendaitem.name, @photoalbum.agendaitem
        - else
          aangemaakt op:
          = time_tag @photoalbum.created_at

.modal{:id => "myModal", "tabindex" => "-1", "role" => "dialog"}
  %div{:class => "modal-dialog"}
    .modal-content
      .modal-header
        %h1
          = @photoalbum.name
      .modal-body
        %div{:class => "carousel slide", :id => "carousel-example-generic", "data-ride" => "carousel"}
          .carousel-inner
            -@allphotos.each do |n|
              %div{:class=>(@allphotos.index(n) == 0) ? 'item active' : 'item'}
                %a{:href => n.photo.url(:normal), :target => "_blank"}
                  %img{:class => 'img-responsive', :data => {:src => n.photo.url(:normal), "slide-index" => @allphotos.index(n)+1 }}
                .carousel-caption
                  %h1
                    #{@allphotos.index(n)+1}/#{@allphotos.count}
          %a{:class => "left carousel-control", "href" => "#carousel-example-generic", "data-slide" => "prev"}
            %span{:class => "glyphicon glyphicon-chevron-left"}
          %a{:class => "right carousel-control", "href" => "#carousel-example-generic", "data-slide" => "next"}
            %span{:class => "glyphicon glyphicon-chevron-right"}
      .modal-footer
.row
  #gallery
    .thumbnails
      - @photos.each do |photo|
        .col-sm-6.col-md-4
          .thumbnail{"data-toggle" => "modal", "data-target" => "#myModal", "data-index" => @allphotos.index(photo)}
            = image_tag(photo.photo.url(:thumb), :class=>'img-responsive', :style=>'cursor: pointer;')
            .caption
              = photo.caption
.row
  .col-lg-12
    %button{:class => "btn btn-primary fullscreenbutton", :data => {:toggle => "modal", :target => "#myModal", :index => @allphotos.index(@photos.first)}}
      Fullscreen
    - if can? :edit, @photoalbum
      = link_to "edit", edit_photoalbum_path(@photoalbum), class: "btn btn-primary"
.row
  .col-lg-12
    = will_paginate @photos, :previous_label => '<', :next_label => '>'
:javascript
    function loadSrc(target) {
        if(target.attr('src') == undefined) {
            target.attr('src', target.data('src'));
        }
    }
    $(document).ready(function() {
        $(document).keypress(function(event) {
            if(typeof event !== 'undefined' && $('#myModal').is(':visible')) {
                if(event.keyCode === 46) {
                    $('#carousel-example-generic').carousel('next');
                } else if (event.keyCode == 44) {
                    $('#carousel-example-generic').carousel('prev');
                }
            }
        });
        $('.fullscreenbutton').click(function(){
            $('#carousel-example-generic').carousel($(this).data('index'));
            loadSrc($('img[data-slide-index='+($(this).data('index')+1)+']'));
        });
        $('.thumbnail').click(function(){
            $('#carousel-example-generic').carousel($(this).data('index'));
            loadSrc($('img[data-slide-index='+($(this).data('index')+1)+']'));
        });
        $('#carousel-example-generic').on('slide.bs.carousel', function(e) {
            if($('#myModal').is(':visible')) {
                loadSrc($(e.relatedTarget).find('img'));
            }
        });
    });
