.row
  .col-lg-12
    %h1.push-down-for-logo
      = @photoalbum.name
    %p
      %small
        - unless @photoalbum.agendaitem.nil? 
          evenement op:
          = time_tag @photoalbum.agendaitem.date
          = raw("-")
          = link_to @photoalbum.agendaitem.name, @photoalbum.agendaitem
        - else
          aangemaakt op:
          = time_tag @photoalbum.created_at

.modal{:id => "myModal", "tabindex" => "-1", "role" => "dialog"}
  %div{:class => "modal-dialog"}
    .modal-content
      .modal-header
        %h1
          = @photoalbum.name
      .modal-body
        %div{:class => "carousel slide", :id => "carousel-example-generic", "data-ride" => "carousel"}
          .carousel-inner
            -@allphotos.each do |n|
              %div{:class=>(@allphotos.index(n) == 0) ? 'item active' : 'item' }
                = link_to(image_tag(n.photo.url(:normal), :class=>'img-responsive'), n.photo.url(:normal), :target => "_blank")
                .carousel-caption
                  %h1
                    #{@allphotos.index(n)+1}/#{@allphotos.count}
          %a{:class => "left carousel-control", "href" => "#carousel-example-generic", "data-slide" => "prev"}
            %span{:class => "glyphicon glyphicon-chevron-left"}
          %a{:class => "right carousel-control", "href" => "#carousel-example-generic", "data-slide" => "next"}
            %span{:class => "glyphicon glyphicon-chevron-right"}
      .modal-footer
.row
  #gallery
    %ul.thumbnails
      - @photos.each do |photo|
        %li.col-lg-3
          .thumbnail{"data-toggle" => "modal", "data-target" => "#myModal", "data-index" => @allphotos.index(photo)}
            = image_tag(photo.photo.url(:thumb))
            .caption
              = photo.caption
.row
  .col-lg-12
    %button{:class => "btn btn-primary", "data-toggle" => "modal", "data-target" => "#myModal"}
      Fullscreen
.row
  .col-lg-12
    = will_paginate @photos, :previous_label => '<', :next_label => '>'

:javascript
    $(document).ready(function() {
        $(document).keypress(function(event) {
            if(typeof event !== 'undefined' && $('#myModal').is(':visible')) {
                if(event.keyCode === 46) {
                    $('#carousel-example-generic').carousel('next');
                } else if (event.keyCode == 44) {
                    $('#carousel-example-generic').carousel('prev');
                }
            }
        });
        $('.thumbnail').click(function(){
            $('#carousel-example-generic').carousel($(this).data('index'));
        });
    });
