<h1><%=t(:listagendaitemtypes).capitalize %></h1>

<table class="table table-striped">
  <tr>
    <th><%=t(:agendaitemtype).capitalize %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agendaitemtypes.each do |agendaitemtype| %>
  <tr>
    <% if I18n.locale == :nl %>
      <td><%= agendaitemtype.name if agendaitemtype.name %></td>
    <% else %>
      <td><%= agendaitemtype.name_en if agendaitemtype.name_en %></td>
    <% end %>
    <td><%= link_to t(:show), agendaitemtype %></td>
    <td><%= link_to t(:edit), edit_agendaitemtype_path(agendaitemtype) %></td>
    <td><%= link_to t(:destroy), agendaitemtype, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:newagendaitemtype), new_agendaitemtype_path %>
