%h1.push-down-for-logo Apps home

.row
  .col-lg-4
    -@hash.each do |key, value|
      %h3= value['name'] + ' (' + value['email'] + ')'
      %ul
        -value['members'].each do |m|
          %li= m
  .col-lg-4
    -@kronos_groups.each do |key, value|
      %h3= value['name'] + ' (' + value['email'] + ')'
      %ul
        -value['members'].each do |m|
          %li= m
  .col-lg-4
    -@diff.each do |key, value|
      %h3= value['name'] + ' (' + value['email'] + ')'
      -if @exceptions[value['email']]
        - trues = @exceptions[value['email']]['true']
        - falses = @exceptions[value['email']]['false']
      -else
        - trues = []
        - falses = []
      %ul
        -value['members_hier'].each do |m|
          %li
            -if trues.include?(m)
              =link_to(m, new_apps_exception_path(way: 'true', mail: m, group: value['email']))
            -else
              =link_to(m, new_apps_exception_path(way: 'true', mail: m, group: value['email']), class: "text-danger")
              =link_to(m, url_for(:controller => "kronobox", :action => "groupadd", mail: m, group: value['email']))
      %ul
        -value['members_daar'].each do |m|
          %li
            -if falses.include?(m)
              =link_to(m, new_apps_exception_path(way: 'false', mail: m, group: value['email']))
            -else
              =link_to(m, new_apps_exception_path(way: 'false', mail: m, group: value['email']), class: "text-danger")
              =link_to(m, url_for(:controller => "kronobox", :action => "groupremove", mail: m, group: value['email']))
