.row
  .col-lg-12
    %h1.push-down-for-logo Kronometers

.row
  - @kms.each do |km|
    .col-md-3.col-xs-6
      .panel.panel-default
        .panel-heading
          %h4= km.name
          %h6= km.date
        .panel-body
          = link_to image_tag(km.file.url(:thumb)), km.file.url
          - if can? :destroy, km
            = link_to 'verwijder', km, :method => :delete, :confirm => "Weet je het zeker?",
            :title => "Verwijder #{km.name}", :class => 'btn btn-defaul'
          - if can? :edit, km
            = link_to 'aanpassen', edit_kronometer_path(km)

.row
  .col-lg-12
    - if can? :create, Kronometer
      = link_to 'nieuwe Kronometer', new_kronometer_path
      %h3 Totaal benodigde Kronometers voor deze maand:
      = @users.count