.row
  .col-lg-12
    %h1.push-down-for-logo Kronometers

.row

  %ul.thumbnails
    - @kms.each do |km|
      %li.col-lg-3
        .thumbnail
          = link_to image_tag(km.file.url(:thumb)), km.file.url
          .caption
            %h5= km.date
            - if can? :destroy, km
              = link_to 'verwijder', km, :method => :delete, :confirm => "Weet je het zeker?", :title => "Verwijder #{km.name}", :class => 'btn'

.row
  .col-lg-12
    - if can? :create, Kronometer
      = link_to 'nieuwe Kronometer', new_kronometer_path
      %h3 Totaal benodigde Kronometers voor deze maand:
      = @users.count