= f.label :name
= f.text_field :name, {:class => "form-control"}
  
= f.label :initials
= f.text_field :initials , {:class => "form-control"}

= f.label :email
= f.email_field :email, {:class => "form-control"}
  
= f.label :birthdate
= f.text_field :birthdate, {:class => "form-control"}

= f.label :phonenumber
= f.text_field :phonenumber, {:class => "form-control"}
  
= f.label :address
= f.text_field :address, {:class => "form-control"}
  
= f.label :postalcode
= f.text_field :postalcode, {:class => "form-control"}
  
= f.label :city
= f.text_field :city, {:class => "form-control"}

= f.label :profielfoto
= f.file_field :avatar, {:class => "form-control"}

= f.label :sex
= f.select(:sex, options_for_select([['Male'],['Female'],['Other']]),{}, {:class => "form-control"})

= f.label :lidtype
= collection_select(:user, :user_type_id, UserType.all, :id, :name, {:prompt => true}, {:class => "form-control"})

= f.label :studie
= f.text_field :studie, {:class => "form-control"}

= f.label :instelling
= f.text_field :instelling, {:class => "form-control"}

= f.label :aanvang
= f.text_field :aanvang, {:class => "form-control"}

= f.label :licensenumber
= f.text_field :licensenumber, {:class => "form-control"}

= f.label :xtracardnumber
= f.text_field :xtracard, {:class => "form-control"}

= f.label :bankaccountnumber
= f.text_field :bank_account_number, {:class => "form-control"}

= f.label :iban
= f.text_field :iban, {:class => "form-control"}