= f.label :name
= f.text_field :name
  
= f.label :initials
= f.text_field :initials    

= f.label :email
= f.email_field :email
  
= f.label :birthdate
= f.text_field :birthdate

= f.label :phonenumber
= f.text_field :phonenumber
  
= f.label :address
= f.text_field :address
  
= f.label :postalcode
= f.text_field :postalcode
  
= f.label :city
= f.text_field :city
  
<label class ="checkbox">
papieren kronometer
= f.check_box :papieren_kronometer
</label>

= f.label :profielfoto
= f.file_field :avatar

= f.label :sex
= f.text_field :sex

= f.label :lidtype
= collection_select(:user, :user_type_id, UserType.all, :id, :name, :prompt => true)

= f.label :studie
= f.text_field :studie

= f.label :instelling
= f.text_field :instelling

= f.label :aanvang
= f.text_field :aanvang

= f.label :licensenumber
= f.text_field :licensenumber

= f.label :xtracardnumber
= f.text_field :xtracard

= f.label :bankaccountnumber
= f.text_field :bank_account_number

= f.label :iban
= f.text_field :iban