= f.label :email
= f.email_field :email

= f.label :phonenumber
= f.text_field :phonenumber

= f.label :address
= f.text_field :address
    
= f.label :postalcode
= f.text_field :postalcode
    
= f.label :city
= f.text_field :city

<label class ="checkbox">
papieren kronometer
= f.check_box :papieren_kronometer
</label>
    
= f.label :profielfoto
= f.file_field :avatar

= f.label :studie
= f.text_field :studie

= f.label :instelling
= f.text_field :instelling

= f.label :aanvang
van de studie
= f.text_field :aanvang
