= f.label :name
= f.text_field :name
  
= f.label :initials
= f.text_field :initials    

= f.label :email
= f.email_field :email
  
= f.label :birthdate
= f.text_field :birthdate

= f.label :phonenumber
= f.text_field :phonenumber
  
= f.label :address
= f.text_field :address
  
= f.label :postalcode
= f.text_field :postalcode
  
= f.label :city
= f.text_field :city
  
= f.label :profielfoto
= f.file_field :avatar

= f.label :sex
= f.text_field :sex
