%li.span3
  .thumbnail
    = link_to image_tag(user.avatar.url(:pass)), user
  
    .caption
      %h5= user.name

      - if can? :update, user
        = link_to 'edit', edit_user_path(user), :class => 'btn'
      - if can? :destroy, user
        = link_to 'verwijder', user, :method => :delete, :confirm => "Weet je het zeker?", :title => "Verwijder #{user.name}", :class => 'btn'