%li
  = link_to image_tag(user.avatar.url(:pass)), user
  %br
  = link_to user.name, user
  - show_to :admin do
    = link_to 'edit', edit_user_path(user)
    = link_to 'verwijder', user, :method => :delete, :confirm => "Weet je het zeker?", :title => "Verwijder #{user.name}"