.row
  .col-lg-12
    %h1.push-down-for-logo Wachtwoord aanpassen

.row
  .col-lg-12
    = form_for @user do |f|

      = f.label :password
      = f.password_field :password

      = f.label :password_confirmation
      = f.password_field :password_confirmation


      #actions
        =f.submit :update, :class => "btn btn-success"
