%h1 Ledenlijst #{Time.now}

- @users.each do |ut|
  - if ut.first
    = ut.first.user_type.name
    %br
    Aantal: #{ut.first.user_type.users.count}
    %br
    %table
      - ut.each do |user|
        %tr
          %td
            = user.sex
          %td
            #{user.name}, #{user.initials}
          %td
            = user.address
          %td
            = user.postalcode
          %td
            = user.city
          %td
            = l user.birthdate, :format => :default
          %td
            = user.licensenumber
          %td
            #{user.iban}
