.row
  .col-lg-12
    %h1.push-down-for-logo Alle Leden

.row
  #pagination_table
    %ul{:class => "thumbnails"}
      - @users.each do |user|
        %li.col-lg-3
          .thumbnail
            = link_to image_tag(user.avatar.url(:pass)), user

            .caption
              %h5= user.name

              - if can? :update, user
                = link_to 'edit', edit_user_path(user), :class => 'btn'
              - if can? :destroy, user
                = link_to 'verwijder', user, :method => :delete, :title => "Verwijder #{user.name}", :class => 'btn', :data => { :confirm => 'Weet je het zeker?' }

.row
  .col-lg-12
    = alphabetical_paginate @alphaParams

  - if can? :create, User
    = link_to "Lid Toevoegen", new_user_path