%h1 Ledenlijst #{Time.now}

- @users.each do |ut|
  - if ut.first
    = ut.first.user_type.name
    %br
    Aantal: #{ut.first.user_type.users.count}
    %br
    - ut.each do |user|
      #{user.name}    #{user.initials}    #{user.iban}    #{user.bank_account_number}
      %br