.row
  .col-lg-12
    %h1= t(:users).capitalize
- unless @usertypes.nil?
  .row
    .col-lg-12
      %ul{class: 'nav nav-pills'}
        - if params[:user_type_id].blank?
          %li{class: 'active'}= link_to 'Alle leden', users_path
        - else
          %li= link_to 'Alle leden', users_path
        - @usertypes.each do |usertype|
          - if usertype.id == params[:user_type_id].to_f
            %li{class: 'active'}
              = link_to usertype.name, users_path(user_type_id: usertype.id)
          - else
            %li
              = link_to usertype.name, users_path(user_type_id: usertype.id)
.row
  #pagination_table
    .col-sm-12
      %br
      - if @users.blank?
        %p.text-info.text-center
          Geen gebruikers met deze letter of in deze categorie.
      - else
        .row
          = render @users
.row
  .col-lg-12
    = alphabetical_paginate @alpha_params
    - if params[:user_type_id].present?
      :javascript
        $("ul.pagination").find("a").each(function() {
           var _href = $(this).attr("href"); 
           $(this).attr("href", _href + '&user_type_id=#{params[:user_type_id].to_i}');
        });
  - if can? :create, User
    = link_to 'Lid Toevoegen', new_user_path
