.row
  .col-lg-12
    %h1.push-down-for-logo= t(:sign_up).capitalize

.row
  .col-lg-12
    - if !user_signed_in?
      = render 'trial_info'

    = form_for @user, :validate => true, :html => { :multipart => true }  do |f|

      - if !user_signed_in?
        = render 'trial_fields', :f => f
      - else
        = render 'admin_fields', :f => f



      #actions
      =f.submit :toevoegen
