.row
  .col-lg-12
    %h1.push-down-for-logo Overzicht leden

- unless @usertypes.nil?
  .row
    .col-lg-12
      %ul{:class => "nav nav-pills"}
        %li
          = link_to "Alle leden",users_path 
        - @usertypes.each do |usertype|
          - if usertype.id == params[:user_type_id].to_f
            %li{:class => "active"}
              = link_to usertype.name, overview_users_path(:user_type_id => usertype.id)
          - else
            %li 
              = link_to usertype.name, overview_users_path(:user_type_id => usertype.id)

.row
  #pagination_table
    %ul{:class => "thumbnails"}
      - @users.each do |user|
        %li.col-lg-3
          .thumbnail
            = link_to image_tag(user.avatar.url(:pass)), user

            .caption
              %h5= user.name

              - if can? :update, user
                = link_to 'edit', edit_user_path(user), :class => 'btn'
              - if can? :destroy, user
                = link_to 'verwijder', user, :method => :delete, :title => "Verwijder #{user.name}", :class => 'btn btn-default', :data => { :confirm => 'Weet je het zeker?' }

- unless @alphaParams.nil?
  .row   
    .col-lg-12
      = alphabetical_paginate @alphaParams

- if can? :create, User
  .row  
    .col-lg-12 
      = link_to "Lid Toevoegen", new_user_path, :class => "btn btn-default"
