%h1= @user.name
%ul{:class =>"user"}
  %li
    = t(:name).capitalize + ": " + @user.name 
    %br
  %li
    = t(:initials).capitalize + ": " + @user.initials
    %br
  %li
    = t(:birthdate).capitalize + ": " + @user.birthdate.to_s
    %br
  %li
    = t(:email).capitalize + ": " + @user.email
    %br
  %li
    = t(:address).capitalize + ": " + @user.address
    %br
  %li
    = t(:postalcode).capitalize + ": " + @user.postalcode
    %br
  %li
    = t(:city).capitalize + ": " + @user.city
    %br
  %li
    = t(:sex).capitalize + ": " + @user.sex
    %br
  %li
    = t(:licensenumber).capitalize + ": " + @user.licensenumber
    %br
  %li
    = t(:papieren_kronometer).capitalize + ": " + @user.papieren_kronometer.to_s

- if current_user?(@user)
  = link_to 'pas je gegevens aan', edit_user_path(@user)