%h1 Lid
%ul{:class =>"user"}
  %li
    = t(:name).capitalize + ": " + @user.name 
    %br
  %li
    = t(:initials).capitalize + ": " + @user.initials
    %br
  %li
    = t(:birthdate).capitalize + ": " + @user.birthdate.to_s
    %br
  %li
    = t(:email).capitalize + ": " + @user.email
    %br
  %li
    = t(:address).capitalize + ": " + @user.address
    %br
  %li
    = t(:postalcode).capitalize + ": " + @user.postalcode
    %br
  %li
    = t(:city).capitalize + ": " + @user.city
    %br
  %li
    = t(:sex).capitalize + ": " + @user.sex
    %br
  %li
    = t(:licensenumber).capitalize + ": " + @user.licensenumber
    %br