%h1.push-down-for-logo
  = @user.name
.row
  .col-lg-6
    %dl{:class => "dl-horizontal"}
      %dt= t(:initials).capitalize 
      %dd= @user.initials

      %dt= t(:birthdate).capitalize
      %dd= l @user.birthdate, :format => :default

      %dt= t(:email).capitalize 
      %dd= @user.email

      %dt= t(:usertype).capitalize
      %dd= @user.user_type.name if @user.user_type

      %dt= t(:phonenumber).capitalize
      %dd= @user.phonenumber

      %dt= t(:address).capitalize 
      %dd= @user.address

      %dt= t(:postalcode).capitalize
      %dd= @user.postalcode

      %dt= t(:city).capitalize
      %dd= @user.city

      %dt= t(:sex).capitalize
      %dd= @user.sex

      %dt= t(:licensenumber).capitalize
      %dd= @user.licensenumber

      %dt= t(:xtracardnumber).capitalize
      %dd= @user.xtracard

      %dt= t(:papieren_kronometer).capitalize 
      %dd= @user.papieren_kronometer.to_s
      -if current_user.admin?
        %dt= t(:bankaccountnumber).capitalize
        %dd= @user.bank_account_number
        %dt= t(:iban).capitalize
        %dd= @user.iban
  .col-lg-6
    %section.polaroid
      %figure
        = image_tag @user.avatar.url(:medium)
        %figcaption
          = @user.name

- if can? :update, @user
  = link_to 'pas je gegevens aan', edit_user_path(@user)
  %br
  = link_to 'verander je wachtwoord', editpassword_user_path
  
