.form-group
  = f.label :name
  = f.text_field :name, :class => 'form-control'

.form-group
  = f.label :local_part_form_description
  = f.text_field :local_part, :class => 'form-control'

.form-group
  = f.label :description
  = f.text_field :description, :class => 'form-control'

%h3= t :mailinglist_memberships

=f.fields_for :mailinglist_memberships do |member_form|

  = member_form.label :name
  = member_form.object.user_name
  = member_form.label :destroy
  = member_form.check_box 'destroy', {}, 'true', 'false'


= form_for @patient do |f|
  = hidden_field_tag "patient[refill_medication_ids][]"
  - @patient.medications.each do |medication|
    = check_box_tag "patient[refill_medication_ids][]", medication.id, @patient.refill_medications.include?(medication)
    = medication.name
