.form-group
  = f.label :name
  = f.text_field :name, :class => 'form-control'

.form-group
  = f.label :local_part_form_description
  = f.text_field :local_part, :class => 'form-control'

.form-group
  = f.label :description
  = f.text_field :description, :class => 'form-control'

.form-group
  = f.label :commission
  = f.collection_select(:commission_id, Commission.all, :id, :name, {:include_blank => 'Geen'}, :class => 'form-control')

%h3= t(:mailinglist_memberships)

= hidden_field_tag "mailinglist[user_ids][]"
= hidden_field_tag "mailinglist[alias_ids][]"

- @users.each do |user|
  .check-box
    = check_box_tag "mailinglist[user_ids][]", user.id, @mailinglist.users.include?(user)
    = user.name
    = user.user_type.name

- @aliases.each do |alia|
  .check-box
    = check_box_tag "mailinglist[alias_ids][]", alia.id, @mailinglist.aliases.include?(alia)
    = alia.name
    = alia.emailaddress
    = alia.description

