.row
  .col-lg-6
    %dl.dl-horizontal
      %dt= t(:name)
      %dd= mailinglist.name

      %dt= t(:email)
      %dd= mailinglist.local_part + '@kronos.nl'

      %dt= t(:description)
      %dd= mailinglist.description


