.panel.panel-default
  .panel-heading
    %h3.panel-title= mailinglist.name

  .panel-body
    %p= mailinglist.full_email
    %p= mailinglist.description

    = link_to t(:edit), edit_mailinglist_path(mailinglist), :class => 'btn btn-default'

    = link_to raw("<span class='glyphicon glyphicon-remove'></span> Delete"), mailinglist ,:class => 'btn btn-danger',
     confirm: 'Weet je het zeker?', method: :delete if can? :destroy, mailinglist


