= link_to raw("<span class='glyphicon glyphicon-arrow-left'></span> #{t(:index)}"), mailinglists_path,
 :class => 'btn btn-default'
%h1
  = t(:mailinglist)
  = @mailinglist.name

= render "mailinglist", :mailinglist => @mailinglist
