.panel.panel-default
  .panel-heading
    %h3{:class=>'panel-title'}
      - if event.eventtype
        = event.eventtype.name
      = ' - ' + event.distance.to_s  + 'm'  unless (event.distance.nil?||event.distance==0)       
  %table{:class=>'table'}
    %tbody
      - event.results.each do |result|
        %tr
          %td= result.username
          %td
            = result.result
            - if result.place
              = '(' + result.place.to_s + 'e)'
            = number_to_human result.calculatedResult, :format => "%n", :precision => 2, :significant => false
            = result.event.eventtype.calculated_unit
          %td
            = link_to "verwijder", result, :class => 'btn btn-danger btn-xs', confirm: 'Weet je het zeker?', method: :delete if can? :destroy, result
  .panel-body
    = render :partial => "events/form", :locals => { :event => event }
    
  -if can? :destroy, event
    .panel-footer
      =link_to 'Evenement verwijderen', event, confirm: 'Weet je het zeker?', method: :delete,:class => 'btn btn-danger'
