.row
  .col-md-12
    %h1 
      =t(:records).capitalize
      %small overzicht
.row
  .col-md-12
    %ul.nav.nav-tabs
      - 1.downto(0).each.map{|m| @date + m.months}.each do |d|
        %li{role: 'presentation'}
          = link_to (l d, format: '%b %Y'), 
              controller: 'results', 
              action: 'index',
              date: {year: d.year, month: d.month}
      - (1..2).each.map{|m| @date- m.months}.each do |d|
        %li{role: 'presentation'}
          = link_to (l d, format: '%b %Y'), 
              controller: 'results', 
              action: 'index',
              date: {year: d.year, month: d.month}
      %li{:role => 'presentation', class:'active'}
        %a= 'Clubrecords'
      = form_tag({controller: 'results', action: 'index'}, method: 'get', class: 'navbar-form navbar-left')
.row
  &nbsp;
.row
  .col-md-12
    %ul.nav.nav-tabs
      %li{role: 'presentation'}
        = link_to 'Men Outdoor',records_results_path(:sex=>"male",:loc=>"out")
      %li{role: 'presentation', class: 'active'}		
        = link_to 'Women Outdoor',records_results_path(:sex=>"female",:loc=>"out")
      %li{role: 'presentation'}		
        = link_to 'Men Indoor',records_results_path(:sex=>"male",:loc=>"in")
      %li{role: 'presentation'}		
        = link_to 'Women Indoor',records_results_path(:sex=>"female",:loc=>"in")
.row
  &nbsp;
.row
  %table.table.table-striped
    %thead
      %tr 
        %th 
          Onderdeel
        %th
          Prestatie
        %th
          Recordhouder
        %th
          Datum
    %tbody
      %tr
        %td
          %b Looponderdelen
        %td
        %td
        %td
      %tr
        %td 
          100m
        %td
          12.8
        %td
          Ingrid Stam
        %td
          30-06-1993
      %tr
        %td 
          200m
        %td
          26,06
        %td
          Merel Wevers
        %td
          26-05-2019
      %tr
        %td 
          400m
        %td
          58,10
        %td
          Merel Wevers
        %td
          16-06-2019
      %tr
        %td 
          800m
        %td
          2:16,7
        %td
          Merel Wevers
        %td
          15-05-2021
      %tr
        %td 
          1500m
        %td
          4:38,07
        %td
          Karin Gorter
        %td
          30-05-2008
      %tr
        %td 
          3000m
        %td
          10:08,32
        %td
          Renee Sijbesma
        %td
          21-05-1995
      %tr
        %td 
          5000m
        %td
          18:59,4
        %td
          Sophie Crommelinck
        %td
          23-06-2016
      %tr
        %td 
          10.000m
        %td
          40:51,3
        %td
          Anneleen van Beek
        %td
          17-06-1995
      %tr
        %td
          %b Speciale looponderdelen
        %td
        %td
        %td
      %tr
        %td 
          100m Horden
        %td
          14,59
        %td
          Marjolein Bolten
        %td
          07-07-2018
      %tr
        %td 
          400m Horden
        %td
          1:02,43
        %td
          Merel Wevers
        %td
          18-05-2019
      %tr
        %td 
          3000m Steeplechase
        %td
          11:28,67
        %td
          Martien Schaub
        %td
          05-07-2003
      %tr
        %td
          %b Technische onderdelen
        %td
        %td
        %td
      %tr
        %td 
          Hoogspringen
        %td
          1,70
        %td
          Marjolein Bolten
        %td
          27-05-2018
      %tr
        %td 
          Polsstokhoogspringen
        %td
          2,90
        %td
          Marjolein Bolten
        %td
          08-09-2021
      %tr
        %td 
          Verspringen
        %td
          5,67
        %td
          Marjolein Bolten
        %td
          16-06-2018
      %tr
        %td 
          Hinkstapspringen
        %td
          11,21
        %td
          Marjolein Bolten
        %td
          27-05-2018
      %tr
        %td 
          Kogelstoten
        %td
          12,86
        %td
          Brenda Pouw
        %td
          20-05-2007
      %tr
        %td 
          Discuswerpen
        %td
          37,54
        %td
          Brenda Pouw
        %td
          24-06-2003
      %tr
        %td 
          Kogelslingeren
        %td
          30,64
        %td
          Nadia Lachkar
        %td
          13-06-2007
      %tr
        %td 
          Speerwerpen
        %td
          41,84
        %td
          Brenda Pouw
        %td
          15-09-2002
      %tr
        %td 
          Zevenkamp
        %td
          5115
        %td
          Marjolein Bolten
        %td
          07-07-2018
      %tr
        %td
          %b Estafettes
        %td
        %td
        %td
      %tr
        %td 
          4x100m
        %td
          50,03
        %td
          Evelien van Houweling
          %br
          Merel Wevers
          %br
          Marjolein Bolten
          %br
          Michelle van Dorth
        %td
          18-09-2021
      %tr
        %td 
          4x400m
        %td
          4:16,77
        %td
          Marjolein Bolten
          %br
          Annabel Boonman
          %br
          Floor Stefess
          %br
          Merel Wevers
        %td
          16-06-2019
      %tr
        %td 
          Zweedse estafette
        %td
          2:29,8
        %td
          Agnes Mewe
          %br
          Maaike Konter
          %br
          Monique Hoogers
          %br
          Annelies Braat
        %td
          15-09-2002
      %tr
        %td 
          Olympische estafette
        %td
          4:30,04
        %td
          Merel Wevers
          %br
          Marjolein Bolten
          %br
          Merel Lasschuijt
          %br
          Michelle van Dorth
        %td
          08-09-2021		  