.row
  .col-md-12
    %h1 
      =t(:records).capitalize
      %small overzicht
.row
  .col-md-12
    %ul.nav.nav-tabs
      - 1.downto(0).each.map{|m| @date + m.months}.each do |d|
        %li{role: 'presentation'}
          = link_to (l d, format: '%b %Y'), 
              controller: 'results', 
              action: 'index',
              date: {year: d.year, month: d.month}
      - (1..2).each.map{|m| @date- m.months}.each do |d|
        %li{role: 'presentation'}
          = link_to (l d, format: '%b %Y'), 
              controller: 'results', 
              action: 'index',
              date: {year: d.year, month: d.month}
      %li{:role => 'presentation', class:'active'}
        %a= 'Clubrecords'
      = form_tag({controller: 'results', action: 'index'}, method: 'get', class: 'navbar-form navbar-left')
.row
  &nbsp;
.row
  .col-md-12
    %ul.nav.nav-tabs
      %li{role: 'presentation'}
        = link_to 'Men Outdoor',records_results_path(:sex=>"male",:loc=>"out")
      %li{role: 'presentation'}		
        = link_to 'Women Outdoor',records_results_path(:sex=>"female",:loc=>"out")
      %li{role: 'presentation'}		
        = link_to 'Men Indoor',records_results_path(:sex=>"male",:loc=>"in")
      %li{role: 'presentation', class: 'active'}		
        = link_to 'Women Indoor',records_results_path(:sex=>"female",:loc=>"in")
.row
  &nbsp;
.row
  %table.table.table-striped
    %thead
      %tr 
        %th 
          Onderdeel
        %th
          Prestatie
        %th
          Recordhouder
        %th
          Datum
    %tbody
      %tr
        %td
          %b Looponderdelen
        %td
        %td
        %td
      %tr
        %td 
          60m
        %td
          8,23
        %td
          Monique Hoogers
        %td
          15-12-2001
      %tr
        %td 
          200m
        %td
          25,94
        %td
          Merel Wevers
        %td
          17-02-2019
      %tr
        %td 
          400m
        %td
          58,11
        %td
          Merel Wevers
        %td
          22-02-2020
      %tr
        %td 
          800m
        %td
          2:21,24
        %td
          Merel Wevers
        %td
          03-02-2019
      %tr
        %td 
          1500m
        %td
          4:49,36
        %td
          Karin Gorter
        %td
          15-03-2008
      %tr
        %td 
          3000m
        %td
          11:39,92
        %td
          Jenny Wassenaar
        %td
          24-01-2004
      %tr
        %td
          %b Speciale looponderdelen
        %td
        %td
        %td
      %tr
        %td 
          60m Horden
        %td
          9,13
        %td
          Marjolein Bolten
        %td
          03-02-2019
      %tr
        %td
          %b Technische onderdelen
        %td
        %td
        %td
      %tr
        %td 
          Hoogspringen
        %td
          1,68
        %td
          Marjolein Bolten
        %td
          11-02-2018
      %tr
        %td 
          Polsstokhoogspringen
        %td
          2,20
        %td
          Karin Gorter
        %td
          08-03-2003
      %tr
        %td 
          Verspringen
        %td
          5,52
        %td
          Marjolein Bolten
        %td
          02-03-2019
      %tr
        %td 
          Hinkstapspringen
        %td
          9,85
        %td
          Agnes Mewe
        %td
          06-02-2000
      %tr
        %td 
          Kogelstoten
        %td
          12,62
        %td
          Brenda Pouw
        %td
          27-01-2008
      %tr
        %td 
          Vijfkamp
        %td
          3630
        %td
          Merel Wevers
        %td
          03-02-2019
      %tr
        %td
          %b Estafettes
        %td
        %td
        %td
      %tr
        %td 
          4x200m
        %td
          2:02,04
        %td
          Annelies Braat
          %br
          Nelleke van der Ploeg
          %br
          Jenny Wassenaar
          %br
          Nienke Ruepert
        %td
          24-04-2004
      %tr
        %td 
          4x400m
        %td
          Vacant
        %td
        %td
      %tr
        %td 
          4x800m
        %td
          Vacant
        %td
        %td
      %tr
        %td 
          Zweedse estafette
        %td
          Vacant
        %td
        %td		