.span12
  .row
    %h1 Uitslagen
  .row
    .span7
      .row
        %ul{:class => "nav nav-tabs"}
          %li{:class => "active"}
            %a{:href => '#Laatste', "data-toggle" => 'tab', "ajaxtab" => 'tab'}
              Laatste
          - @tabs.each do |tab|
            %li
              %a{:href => '#' + String(tab), "data-toggle" => 'tab', "ajaxtab" => 'tab'}
                = tab
        .tab-content
          %div{:class => "tab-pane active", :id => 'Laatste'}
            %table{:class => "resulttable"}
              %thead
                %tr
                  %th Wedstrijd ⇕
                  %th Datum ⇕
                  %th Plaats ⇕
                  %th Type ⇕
              %tbody
                - @results.each do |agendaitem|
                  %tr{:class => "ajaxuitslag", "ajaxid" => agendaitem.id}
                    %td
                      = agendaitem.name
                    %td
                      = agendaitem.date.strftime("%e %B")
                    %td
                      = agendaitem.location
                    %td
                      = agendaitem.agendaitemtype.name if agendaitem.agendaitemtype
          - @tabs.each do |tab|
            %div{:class => "tab-pane", :id => tab}
    .span4
      .row
        %div{:id => "ajaxuitslagengebied"}
  -if can? :create, Agendaitem
    %br
    .row
      %h5
        Ik wil een uitslag toevoegen maar mijn wedstrijd staat er niet tussen!!1!!1
      = link_to "Wedstrijd toevoegen", new_agendaitem_path, :class => "btn btn-primary"
   
