.row
  .col-md-12
    %h1 
      =t('.results').capitalize
      %small overzicht
.row
  .col-md-12
    %ul.nav.nav-tabs
      - @present.take(2).each do |d|
        %li{:role => 'presentation'}= link_to (l d, format: '%b %Y'), '/uitslagen/'+d.strftime('%Y/%m')
      %li.active{:role => 'presentation'}= link_to (l @current, format: '%b %Y'), '#'
      - @past.reverse.take(2).each do |d|
        %li{:role => 'presentation'}= link_to (l d, format: '%b %Y'), '/uitslagen/'+d.strftime('%Y/%m')
      %li.dropdown{:role => "presentation"}
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = l(@current, :format => '%b')
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          - t(:month_names, :scope => :date).drop(1).each do |m|
            %li= link_to m, '/uitslagen/'+@current.strftime('%Y/')+(t(:month_names, :scope => :date).drop(1).index(m)+1).to_s
      %li.dropdown{:role => "presentation"}
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = @current.strftime('%Y')
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          - @years.reverse.each do |y|
            %li= link_to y, '/uitslagen/'+y.to_s+'/'+@current.strftime('%m');
.row
  &nbsp;
.row
  .col-md-12
    #laatste.panel-group.list-group
      - @agendaitems.each_with_index do |agendaitem, ntime|
        .panel.list-group-item
          .list-group-heading
            %a{:class=>'accordion-toggle collapsed',  "data-parent" => "#laatste", "data-toggle" => "collapse", :href => "#laatste-collapse-"+ntime.to_s}
              .row
                .col-xs-1
                  %h4
                    = agendaitem.date.strftime('%d') 
                    = content_tag(:small, agendaitem.date.strftime('%a'))
                .col-xs-10
                  %h4
                    = agendaitem.name
                    = content_tag :small, (agendaitem.agendaitemtype.name if agendaitem.agendaitemtype)
                .col-xs-1.text-right
                  %h4
                    %small
                      .icon
          .collapse{:id=>'laatste-collapse-'+ntime.to_s}
            .panel-body
              -agendaitem.events.each do |event|
                .table-responsive
                  %table.table.table-condensed.table-striped
                    %thead
                      %tr
                        %th{:colspan=>'3'}
                          = event.eventtype.name if event.eventtype
                    %tbody
                      - event.results.order('place ASC').each do |result|
                        %tr
                          %th.row.col-xs-1
                            = result.place.to_s
                          %td.col-xs-5
                            = result.username
                          %td.col-xs-6
                            = number_to_human result.calculatedResult, :format => "%n", :precision => 2, :significant => false
                            = result.event.eventtype.calculated_unit
            .row
              .col-xs-12.text-center
                = link_to 'evenementenpagina','/agendaitem#uitslagen', :class=>'btn btn-primary'
