.span12
  .row
    %h1 Uitslagen
  .row
    .span7
      .row
        %ul{:class => "nav nav-tabs"}
          %li{:class => "active"}
            %a{:href => '#Laatste', "data-toggle" => 'tab', "ajaxtab" => 'tab'}
              Laatste
          - @tabs.each do |tab|
            %li
              %a{:href => '#' + String(tab), "data-toggle" => 'tab', "ajaxtab" => 'tab'}
                = tab
        .tab-content
          %div{:class => "tab-pane active", :id => 'Laatste'}
            %table{:class => "resulttable"}
              %thead
                %tr
                  %th Wedstrijd ⇕
                  %th Datum ⇕
                  %th Plaats ⇕
                  %th Type ⇕
              %tbody
                - @results.each do |agendaitem|
                  %tr{:class => "ajaxuitslag", "ajaxid" => agendaitem.id}
                    %td
                      = agendaitem.name
                    %td
                      = agendaitem.date.strftime("%e %B")
                    %td
                      = agendaitem.location
                    %td
                      = agendaitem.agendaitemtype.name if agendaitem.agendaitemtype
          - @tabs.each do |tab|
            %div{:class => "tab-pane", :id => tab}
    .span4
      .row
        %div{:id => "ajaxuitslagengebied"}
          %div{:class => "uitslagentitel"}
            %h2
              = @agendaitem.name
          %div{:class => "uitslagenverhaal"}
            = @agendaitem.description
          - @agendaitem.events.each_with_index do |event,i|
            - if (i == 0) then hoio = " in" end
            %div{:class => "uitslagencollapse"}
              %div{:class => "collapsetitle", "data-toggle" => "collapse", "data-target" => '#event' + event.id.to_s }
                = event.eventtype.name
                - if event.distance
                  = event.distance
              %div{:class => "collapse#{hoio}", :id => 'event' + event.id.to_s}
                %table
                  - event.results.each do |result|
                    %tr
                      %td
                        - if result.user
                          = link_to result.user.name, result.user
                        - else
                          = result.username
                      %td
                        = result.result
          %div
            = link_to "Naar de wedstrijdpagina", @agendaitem
            = link_to "Voeg een uitslag toe", agendaitem_events_path(@agendaitem) if can? :create, Result
