.span12
  .row
    %h1 Uitslagen
  .row
    .span9
      .row
        %ul{:class => "nav nav-tabs"}
          - @slicedresults.each do |resultset|
            %li
              %a{:href => '#' + resultset.first, "data-toggle" => 'tab'}
                = resultset.first
        .tab-content
          - @slicedresults.each do |resultset|
            %div{:class => "tab-pane", :id => resultset.first}
              %table{:class => "resulttable", :id => resultset.first}
                %thead
                  %tr
                    %td Wedstrijd
                    %td Datum
                    %td Plaats
                    %td Type
                    %td Aantal uitslagen
                %tbody
                  - resultset.last.each do |agendaitem|
                    %tr
                      %td
                        = agendaitem.name
                      %td
                        = agendaitem.date.strftime("%e %B")
                      %td
                        = agendaitem.location
                      %td
                        = agendaitem.agendaitemtype.name
                      %td
                        = agendaitem.count_results
    .span3
      .row
        Plaatjes
  .row
    %table{:id => "myTable"}
      %thead
        %tr
          %th
            Last Name
          %th
            First Name
          %th
            Email
          %th
            Due
          %th
            Web Site
      %tbody
        %tr
          %td
            Schenk
          %td
            John
          %td
            jsmith@gmail.com
          %td
            $50.00
          %td
            http://www.jsmith.com
        %tr
          %td
            Heinsbroek
          %td
            John
          %td
            jsmith@gmail.com
          %td
            $50.00
          %td
            http://www.jsmith.com