.row
  .col-md-12
    %h1 
      =t('.results').capitalize
      %small overzicht
.row
  .col-md-12
    .table-responsive
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th Username
            %th Result
            %th Event
            %th Wind
            %th Place
            %th Calculated
            %th Actions
        %tbody
          - @results.each do |result|
            %tr
              %td
                - if result.user
                  = link_to result.username, user_path(result.user)
                - else
                  = result.username
              %td= result.result
              %td
                - if result.event
                  = result.event.agendaitem.name
                - else
                  Geen event
              %td= result.event_id
              %td= result.wind
              %td= result.place
              %td= result.calculated
              %td
                = link_to 'recalculate', '#', :class => 'btn btn-default'
                = link_to 'change event', '#', :class => 'btn btn-default'
