%div{:class => "uitslagentitel"}
  %h2
    = @agendaitem.name
%div{:class => "uitslagenverhaal"}
  = @agendaitem.description
- @agendaitem.events.each_with_index do |event,i|
  - if (i == 0) then hoio = " in" end
  %div{:class => "uitslagencollapse"}
    %div{:class => "collapsetitle"}
      = event.eventtype.name
      - if event.distance
        = event.distance
    %div{:class => "collapse in", :id => 'event' + event.id.to_s}
      %table
        - event.results.each do |result|
          %tr
            %td
              - if result.user
                = link_to result.user.name, result.user
              - else
                = result.username
            %td
              = result.result
              = '(' if (result.wind || result.place)
              = result.wind.to_s + 'm/s' if result.wind
              = result.place.to_s + 'e' if result.place
              = ')' if (result.wind || result.place)
            %td
              = number_to_human result.calculatedResult, :precision => 2, :significant => false
              = event.eventtype.calculated_unit
%div
  = link_to "Naar de wedstrijdpagina", @agendaitem
  = link_to "Voeg een uitslag toe", agendaitem_events_path(@agendaitem) if can? :create, Result