.row
  .col-md-12
    %h1 
      =t('.results').capitalize
      %small overzicht
.row
  .col-md-12
    %ul.nav.nav-tabs
      - 1.downto(0).each.map{|m| @date + m.months}.each do |d|
        %li{role: 'presentation'}
          = link_to (l d, format: '%b %Y'), 
              controller: 'results', 
              action: 'index',
              date: {year: d.year, month: d.month}
      - (1..2).each.map{|m| @date- m.months}.each do |d|
        %li{role: 'presentation'}
          = link_to (l d, format: '%b %Y'), 
              controller: 'results', 
              action: 'index',
              date: {year: d.year, month: d.month}
      %li{:role => 'presentation', class:'active'}
        %a= 'Clubrecords'
      = form_tag({controller: 'results', action: 'index'}, method: 'get', class: 'navbar-form navbar-left')
.row
  &nbsp;
.row
  .col-md-12
    %ul.nav.nav-tabs
      = link_to 'Men Outdoor',records_results_path(:sex=>"male",:loc=>"out"), class: 'btn btn-default'
      = link_to 'Women Outdoor',records_results_path(:sex=>"female",:loc=>"out"), class: 'btn btn-default'
  .col-md-12
    %ul.nav.nav-tabs
      = link_to 'Men Indoor',records_results_path(:sex=>"male",:loc=>"in"), class: 'btn btn-default'
      = link_to 'Women Indoor',records_results_path(:sex=>"female",:loc=>"in"), class: 'btn btn-default'
.row
  Please select a category