<% if @result.event.eventtype.measuringunit.blank? == false %>
<table>
  <tr>
    <th><%= @result.event.eventtype.name %></th>
  </tr>
  <tr>
    <th>Naam</th>
    <th>Uitslag (<%= @result.event.eventtype.measuringunit %>)</th>
    <th><%= @result.event.eventtype.calculated_unit %></th>
  </tr>
  <tr>
    <td><%= if @result.user; @result.user.name else @result.username end %></td>
    <td><%= @result.result %></td>
<% expressie1 = @result.event.eventtype.calculation.gsub('r', @result.result.to_s) %>
<% expressie = expressie1.gsub('d', @result.event.distance.to_s) %>
<% @result.timetoseconds(expressie) %>
    <td><%= @result.stringcal(expressie)[/^\-?\d+\.?\d?\d?/] %></td>
  </tr>
</table>
<% end %>

<% @result.reactions.each do |reactie| %>
<p>
  <%= reactie.reactiontext %>
</p>
<% end %>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>

<%= render 'reactions_form' %>