- eventResult = event.results.build
- nameArray = []
- User.all.each do |user|
  - nameArray << user.name

= form_for eventResult, :remote => false, :html => { :id => "event_result_#{event.id}", :autocomplete => "off", :class => 'form-inline', :role=>'form'} do |f|
  = f.hidden_field :event_id
  .form-group.col-md-2
    = f.label :username, :class=>'sr-only' 
    = f.text_field :username, :class => 'typeahead form-control', :placeholder => t(:name).capitalize
  .form-group.col-md-2
    = f.label :result, :class=>'sr-only'
    = f.text_field :result, :class=>'form-control', :placeholder => "Prestatie"
  - if event.eventtype && event.eventtype.show_wind
    .form-group.col-md-2
      = f.label :wind, :class=>'sr-only'
      = f.text_field :wind, :class=>'form-control', :placeholder => "m/s"
  .form-group.col-md-2
    = f.label :place, :class=>'sr-only'
    = f.text_field :place, :class=>'form-control', :placeholder => "Plaats"
  .col-md-2
    = f.submit :class => "btn btn-default"
  :javascript
    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
      var matches, substringRegex;
      matches = [];
      substrRegex = new RegExp(q, 'i');
      $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
      matches.push({ value: str });
      }
      });
       
      cb(matches);
      };
    };
     
    var states = #{nameArray};
     
    $('#event_result_#{event.id} .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
      },
      {
      name: 'states',
      displayKey: 'value',
      source: substringMatcher(states)
    });


