<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :eventtype %>
    <%= f.select(:eventtype_id , Eventtype.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :distance %>
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :results %>
    <%= f.fields_for :results do |result_field| %>
      <div class="field">
        <%= result_field.select(:user_id, User.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Geen  lid'}) %><%= result_field.text_field :username %><%= result_field.text_field :result %> <%= if result_field.object.id; link_to 'Destroy', result_field.object, confirm: 'Are you sure?', method: :delete end %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
