.row
  .col-lg-12
    %h1.push-down-for-logo Onderdelen
.row
  .col-lg-12.events
    -@events.each do |event|
      = render :partial => "results/show", :locals => { :event => event }

.row
  .col-lg-12
    %h2.push-down-for-logo Voeg een onderdeel toe

    = form_for(@event, url: agendaitem_events_path(@agendaitem), :html=>{:class => "form-horizontal"}) do |f|
      .form-group
        = f.label "Tijd", :class => "col-sm-2 control-label"
        .col-sm-10
          - if f.object.date.respond_to?(:strftime)
            = f.text_field :date, {:class => "tijdprikker form-control", :value => event_field.object.date.strftime('%H:%M')}
          - else
            = f.text_field :date, {:class => "tijdprikker form-control", :value => Time.now.strftime('%H:%M')}
      .form-group
        = f.label "Type", :class => "col-sm-2 control-label"
        .col-sm-10
          = f.select(:eventtype_id, Eventtype.all.delete_if{|x| !x.agendaitemtypes.include?(@agendaitem.agendaitemtype) }.collect{ |p| [p.name, p.id] }, {}, {:class=>"form-control"})
      .form-group
        = f.label "Afstand", :class => "col-sm-2 control-label"
        .col-sm-10
          = f.text_field :distance, :class => "form-control"
      = f.hidden_field :agendaitem_id, :value => @agendaitem.id
      .col-sm-offset-2.col-sm-10
        = f.submit :class => "btn btn-success"
%br

			
