<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>
<p>
  <b>Type:</b>
  <%= @event.eventtype.shortname %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
