<%= form_for(@eventtype) do |f| %>
  <% if @eventtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eventtype.errors.count, "error") %> prohibited this eventtype from being saved:</h2>

      <ul>
      <% @eventtype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :calculation %> <%= f.label :calculated_unit %><br />
    <%= f.text_field :calculation %><%= f.text_field :calculated_unit %>
  </div>
  <div class="field">
    <%= f.label :shortname %><br />
    <%= f.text_field :shortname %>
  </div>
  <div class="field">
    <%= f.label :measuringunit %><br />
    <%= f.text_field :measuringunit %>
  </div>
  <div class="field">
    <%= f.label :display_type %><br />
    <%= f.text_field :display_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
