=nested_form_for(@eventtype) do |f| 

  = f.label :name
  = f.text_field :name


  = f.label :formula 
  = f.text_field :formula
  
  = f.label :female_formula
  = f.text_field :female_formula
    
  = f.label :calculated_unit
  = f.text_field :calculated_unit

  = f.label :shortname
  = f.text_field :shortname

  = f.label :measuringunit 
  = f.text_field :measuringunit
  
  = f.label :show_wind
  = f.check_box :show_wind
  
  = f.label :important
  = f.check_box :important

  = f.label :agendaitemtypes
  = f.fields_for :agendaitemtype_eventtypes do |agendaitemtypeform|
    = agendaitemtypeform.collection_select(:agendaitemtype_id, Agendaitemtype.all, :id, :name)
    = agendaitemtypeform.link_to_remove "Verwijderen"
  = f.link_to_add "Voeg een agendaitemtype toe, waarbij dit eventtype te zien is", :agendaitemtype_eventtypes

  .actions
    = f.submit :class => "btn btn-success"


