<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @eventtype.name %>
</p>

<p>
  <b>Calculation:</b>
  <%= @eventtype.calculation %> <%= @eventtype.calculated_unit %>
</p>

<p>
  <b>Shortname:</b>
  <%= @eventtype.shortname %>
</p>

<p>
  <b>Measuringunit:</b>
  <%= @eventtype.measuringunit %>
</p>


<%= link_to 'Edit', edit_eventtype_path(@eventtype) %> |
<%= link_to 'Back', eventtypes_path %>
