<%= form_for(@page, :url => '/pages/update/'+@page.pagetag) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :information %>
    <%= raw f.text_area(:information).gsub("\n", '&#x000A;').gsub("\r",'') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
