%h1 Admin pagina


.list-group
  = link_to t('.commissions').capitalize, commissions_path, class: 'list-group-item'
  = link_to t('.accept_news').capitalize, newsitems_agree_path, class: 'list-group-item'
  = link_to t('.mailinglists').capitalize, mailinglists_path, 
        class: 'list-group-item'
  = link_to t('.aliases').capitalize, aliases_path, class: 'list-group-item'
  = link_to t('.results').capitalize, results_path, class: 'list-group-item'
  = link_to t('.announcements').capitalize, announcements_path, class: 'list-group-item'

