.span5
  %div{:id => "content-slider"}
    #content
      %div{:id => "content-inner-1"}
        %div{:id => "content-inner-2"}
          %div{:id => "content-inner-3"}
            %div{:id => "content-inner"}
              - pagecounter = 1
              - @newsitems.each do |newsitem|
                %div{:class => "page", :id => "page#{pagecounter.to_s}"}
                  = image_tag newsitem.articlephoto.url :slider
                  %div{:class => "page-info", :id => "info#{pagecounter.to_s}"}
                    %h2= link_to newsitem.title, newsitems_path
                    %div{:class => "page-text"}
                      = newsitem.news.split('.').first
                - pagecounter = pagecounter + 1
                  
    %ul#nav
      %li.button#button1
        %a{:href => "#content-inner-1"}
      %li.button#button2
        %a{:href => "#content-inner-2"}
      %li.button#button3
        %a{:href => "#content-inner-3"}

  