.row
  .col-md-12 
    %h1= t(:news).capitalize
.row
  .col-md-8      
    = render "carousel"
    %section
      - @newsitems.each do |newsitem|
        %article
          .row
            .col-md-offset-3.col-md-9
              %header
                %h2= link_to newsitem.title, newsitem, 
                    {name: newsitem.title}
                %p= time_tag newsitem.created_at 
          .row
            .col-md-3
              = link_to (image_tag newsitem.articlephoto.url(:normal)), 
                newsitem, class: "img-responsive img-thumbnail"
            .col-md-9
              = markdown newsitem.news.split( /\r?\n/ ).first
              = link_to 'lees verder', newsitem
    .span{:class=>'text-center'}
      .btn-group
        = link_to "Meer nieuws", newsitems_path, :class => 'btn btn-default'
        - if can? :create, Newsitem
          = link_to raw("<span class='glyphicon glyphicon-pencil'></span> Maak aan"), 
            new_newsitem_path,:class => 'btn btn-default' 
  .col-md-4 
    .panel.panel-primary
      .panel-heading= t(:agenda).capitalize
      .list-group
        - @agendaitems.each do |agendaitem|
          = link_to agendaitem, class: 'list-group-item' do
            .row
              .col-xs-2
                %h5
                  = agendaitem.date.strftime('%d')
                  %small= agendaitem.date.strftime('%b')
              .col-xs-8
                %h5= agendaitem.name
              .col-xs-2
                %h5
                  %small
                    - if agendaitem.subscriptions.count > 0
                      %h5 
                        %small
                          %span.glyphicon.glyphicon-user
                          = agendaitem.subscriptions.count

  -if user_signed_in?
    .col-md-4 
      .panel.panel-primary
        .panel-heading= t(:birthdays).capitalize
        .list-group
          -@birthdays.each do |user|
            = link_to user, class: 'list-group-item' do
              .row 
                .col-xs-2
                  %h5
                    = user.birthdate.strftime('%d')
                    %small= user.birthdate.strftime('%b')
                .col-xs-10
                  = user.name
