.row
  .col-lg-8
    .row.hidden-xs
      %div{:class => "col-lg-12", :id => "content-slider"}
        #content
          %div{:id => "content-inner-1"}
            %div{:id => "content-inner-2"}
              %div{:id => "content-inner-3"}
                %div{:id => "content-inner"}
                  - pagecounter = 1
                  - @newsitems.each do |newsitem|
                    %div{:class => "page", :id => "page#{pagecounter.to_s}"}
                      = image_tag newsitem.articlephoto.url :carrousel
                      %div{:class => "page-info", :id => "info#{pagecounter.to_s}"}
                        %h2= link_to newsitem.title, "##{newsitem.title}"
                        %div{:class => "page-text"}
                          = newsitem.news.split('.').first
                    - pagecounter = pagecounter + 1

        %ul#nav
          %li.button#button1
            %a{:href => "#content-inner-1"}
          %li.button#button2
            %a{:href => "#content-inner-2"}
          %li.button#button3
            %a{:href => "#content-inner-3"}
                
  .col-lg-4
    .row
      .col-lg-12.agenda
        %h1 Agenda
        - @agendaitems.each do |agendaitem|
          .agenda-item
            = link_to agendaitem do
              = agendaitem.name
            = l agendaitem.date, :format => :only_date
                
.row
  .col-lg-6
    %h1= link_to "Nieuws", newsitems_path,:class => "newslink"
    %p
      = link_to raw("<span class='glyphicon glyphicon-plus'></span> Maak aan"), new_newsitem_path,:class => 'btn btn-mini' if can? :create, Newsitem
    -@newsitems.each do |newsitem|
      .frow
        .fcol-lg-12.newsitem
          .frow.newscontent
            .fcol-lg-12
            
              = link_to (image_tag newsitem.articlephoto.url(:normal)), newsitem, :class => "floatleft thumbnail"
              %h2= link_to newsitem.title, newsitem, {:name => newsitem.title, :class => "newslink"}
              %p.muted 
                = time_tag newsitem.created_at
              %p
                = markdown newsitem.news.split( /\r?\n/ ).first
                = link_to 'lees verder', newsitem, :class => "pull-right"

              .btn-toolbar
                .btn-group
                  %a{:class => 'btn btn-mini icon-fb' , :onclick => "KRNS.fbshare('#{newsitem_url(newsitem)}')"}
                    %span{:class => 'glyphicon'}
                    Share
                  = link_to raw("<span class='glyphicon glyphicon-edit'></span> Edit"), edit_newsitem_path(newsitem),:class => 'btn btn-mini' if can? :update, newsitem
                  = link_to raw("<span class='glyphicon glyphicon-remove'></span> Delete"), newsitem,:class => 'btn btn-mini', confirm: 'Weet je het zeker?', method: :delete if can? :destroy, newsitem
    = link_to "Meer nieuws", newsitems_path, :class =>  'pull-right'

  .col-lg-6
    .row
      .col-lg-12
        %br
        %h1 Youtube
        %br

        <div id='mediaplayer'></div>

        <script type="text/javascript">
        jwplayer('mediaplayer').setup({
        'flashplayer': 'assets/player.swf',
        'id': 'playerID',
        'width': 'auto',
        'height': '270',
        'file': 'GzOdeqD0WhE',
        'provider': 'youtube',
        'plugins': {
        'hd-2': {}
        }
        });
        </script>

          
    
    
  
  

  
