.row
  .col-md-12 
    %h1= t(:news).capitalize
.row
  .col-md-8      
    = render "carousel"
    %section
      - @newsitems.each do |newsitem|
        %article
          .row
            .col-md-offset-3.col-md-9
              %header
                -if I18n.locale == :nl
                  %h2= link_to newsitem.title, newsitem, 
                      {name: newsitem.title}
                -if I18n.locale == :en
                  %h2= link_to newsitem.title_en, newsitem, 
                      {name: newsitem.title_en}
                %p= time_tag newsitem.created_at 
          .row
            .col-md-3
              = link_to (image_tag newsitem.articlephoto.url(:normal)), 
                newsitem, class: "img-responsive img-thumbnail"
            .col-md-9
              -if I18n.locale == :nl
                = markdown newsitem.news.split( /\r?\n/ ).first
                = link_to t(:leesverder).capitalize, newsitem
              -if I18n.locale == :en
                = markdown newsitem.news_en.split( /\r?\n/ ).first
                = link_to t(:leesverder).capitalize, newsitem
    .span{:class=>'text-center'}
      .btn-group
        = link_to t(:meernieuws).capitalize, newsitems_path, :class => 'btn btn-default'
        - if can? :create, Newsitem
          = link_to raw("<span class='glyphicon glyphicon-pencil'></span> "+t(:maakaan).capitalize), 
            new_newsitem_path,:class => 'btn btn-default' 
  .col-md-4
    .panel.panel-primary
      .panel-heading= (t :main_sponsor).capitalize
      .sponsor
        = link_to image_tag('sponsors/sponsor-rc-color.png'), 'http://www.runenschede.nl/'
    .panel.panel-primary
      .panel-heading= t(:agenda).capitalize
      .list-group
        - @agendaitems.each do |agendaitem|
          = link_to agendaitem, class: 'list-group-item' do
            .row
              .col-xs-2
                %h5
                  = agendaitem.date.strftime('%d')
                  %small= agendaitem.date.strftime('%b')
              .col-xs-8
                -if I18n.locale == :nl
                  %h5= agendaitem.name
                -if I18n.locale == :en
                  %h5= agendaitem.name_en
              .col-xs-2
                %h5
                  %small
                    - if agendaitem.subscriptions.count > 0
                      %h5 
                        %small
                          %span.glyphicon.glyphicon-user
                          = agendaitem.subscriptions.count

  -if user_signed_in?
    .col-md-4 
      .panel.panel-primary
        .panel-heading= t(:birthdays).capitalize
        .list-group
          -@birthdays.each do |user|
            = link_to user, class: 'list-group-item' do
              .row 
                .col-xs-2
                  %h5
                    = user.birthdate.strftime('%d')
                    %small= user.birthdate.strftime('%b')
                .col-xs-10
                  = user.name
