.row
  .span12
    -if !user_signed_in?
      = link_to image_tag('banner_intro.png'), new_user_path
.row
  .span6
    .row.hidden-phone
      %div{:class => "span6", :id => "content-slider"}
        #content
          %div{:id => "content-inner-1"}
            %div{:id => "content-inner-2"}
              %div{:id => "content-inner-3"}
                %div{:id => "content-inner"}
                  - pagecounter = 1
                  - @newsitems.each do |newsitem|
                    %div{:class => "page", :id => "page#{pagecounter.to_s}"}
                      = image_tag newsitem.articlephoto.url :slider
                      %div{:class => "page-info", :id => "info#{pagecounter.to_s}"}
                        %h2= link_to newsitem.title, "##{newsitem.title}"
                        %div{:class => "page-text"}
                          = newsitem.news.split('.').first
                    - pagecounter = pagecounter + 1

        %ul#nav
          %li.button#button1
            %a{:href => "#content-inner-1"}
          %li.button#button2
            %a{:href => "#content-inner-2"}
          %li.button#button3
            %a{:href => "#content-inner-3"}
   
    .row
      .span6
        %h1= link_to "Nieuws", newsitems_path,:class => "newslink"
        %p
          = link_to raw("<i class='icon-plus'></i> Maak aan"), new_newsitem_path,:class => 'btn btn-mini' if can? :create, Newsitem
        -@newsitems.each do |newsitem|
          .row
            .span6.newsitem
              .row.newscontent
                .span6
                
                  = link_to (image_tag newsitem.articlephoto.url(:normal)), newsitem, :class => "floatleft thumbnail"
                  %h1= link_to newsitem.title, newsitem, {:name => newsitem.title, :class => "newslink"}
                  %p.muted 
                    = time_tag newsitem.created_at
                  %p
                    = markdown newsitem.news.split( /\r?\n/ ).first
                    = link_to 'lees verder', newsitem, :class => "pull-right"

                  .btn-toolbar
                    .btn-group
                      %a{:class => 'btn btn-mini' , :onclick => "KRNS.fbshare('#{newsitem_url(newsitem)}')"}
                        %i.icon-fb 
                        Share
                      = link_to raw("<i class='icon-edit'></i> Edit"), edit_newsitem_path(newsitem),:class => 'btn btn-mini' if can? :update, newsitem
                      = link_to raw("<i class='icon-remove'></i> Delete"), newsitem,:class => 'btn btn-mini', confirm: 'Weet je het zeker?', method: :delete if can? :destroy, newsitem
        = link_to "Meer nieuws", newsitems_path, :class =>  'pull-right'
                
  .span6
    .row
      .span6.agenda
        %h1 Agenda
        - @agendaitems.each do |agendaitem|
          .row
            .span6
              = link_to agendaitem do
                = agendaitem.name
              = l agendaitem.date, :format => :only_date
                
    .row
      .span6
        %br
        %h1 Sponsors
        = link_to image_tag("RC_Enschede-PMS.jpg"), "http://www.runenschede.nl/"
        = link_to image_tag("sportraad_logo_125x110.gif"), "http://sportraadut.nl"
        
    .row
      .span6
        %br
        %h1 Youtube
        %br

        <div id='mediaplayer'></div>

        <script type="text/javascript">
        jwplayer('mediaplayer').setup({
        'flashplayer': 'assets/player.swf',
        'id': 'playerID',
        'width': 'auto',
        'height': '270',
        'file': 'GzOdeqD0WhE',
        'provider': 'youtube',
        'plugins': {
        'hd-2': {}
        }
        });
        </script>
    
    
  
  

  
