<h1>Nieuw op de site</h1>
<p>Je was voor het laatst op <%= current_user.last_login_at.strftime("%d %b") %>, om <%= current_user.last_login_at.strftime("%H:%M") %> ingelogd.</p>
<h4><%= link_to 'Chatbox', chatmessages_path %></h4>
<% @chatmessages.each do |chatmessage| %>
<table>
  <tr>
    <td class="chatboxhead"><%= chatmessage.by %></td>
    <td class="chatboxhead"><%= chatmessage.created_at.strftime("%d %b (%H:%M)") %></td>
    <td><%= link_to 'Edit', edit_chatmessage_path(chatmessage) %></td>
    <td><%= link_to 'Destroy', chatmessage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <tr>
    <td colspan="4" class="chatboxend"><%= sanitize(simple_format(chatmessage.message)) %></td>
  </tr>
</table>
<% end %>
<h4><%= link_to 'Leden', users_path %></h4>
<table>
<% @users.each do |user| %>
  <tr>
    <td class="chatboxhead"><%= link_to user.name, user_path(user) %></td>
    <td><%= user.created_at.strftime("%d %b (%H:%M)") %></td>
  </tr>
<% end %>
</table>