= form_for @contact, :html => {:class => 'col-xs-8' } do |f|

  %h3 Stuur ons een bericht

  .form-group
    = f.label :name
    = f.text_field :name, :class => 'form-control', :required => true
  .form-group
    = f.label :email
    = f.email_field :email, :class => 'form-control', :required => true
  .form-group
    = f.label :message
    = f.text_area :message, :class => 'form-control', :as => :text, :required => true
  .hidden
    = f.label :nickname, :hint => 'Leave this field blank!'
  %br
  = f.button 'Verstuur', :class=> 'btn btn-primary'


