<p>
  <b>Photo:</b>
  <div id="tagged_image">
    <%= image_tag @tag.photo.photo.url %>
    <div>
    <a href="#" style="top:<%= @tag.ypos %>\%;left:<%= @tag.xpos %>\%;width:<%= @tag.width %>\%;height:<%= @tag.heigth %>\%;"><span><%= @tag.user.name %></span></a>
    </div>
  </div>
</p>

<p>
  <b>User:</b>
  <%= @tag.user_id %>
</p>

<p>
  <b>Xpos:</b>
  <%= @tag.xpos %>
</p>

<p>
  <b>Ypos:</b>
  <%= @tag.ypos %>
</p>

<p>
  <b>Width:</b>
  <%= @tag.width %>
</p>

<p>
  <b>Heigth:</b>
  <%= @tag.heigth %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
