<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @subscription.comment %>
</p>

<p>
  <b>Name:</b>
  <%= @subscription.name %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
