-if @commission.errors.any? 
  .error_explanation
    %h2
      = pluralize(@commission.errors.count, "error")
      prohibited this newsitem from being saved
    %ul
      -@commission.errors.full_messages.each do |msg|
        %li= msg

= f.label :name
= f.text_field :name
  

= f.label :description
= f.text_area :description
  

= f.label :email
= f.email_field :email

= f.fields_for :commission_memberships do |commem_form|
  .well
    = commem_form.collection_select(:user_id, User.all, :id, :name)
    = commem_form.label :function
    = commem_form.text_field :function
    %p= commem_form.link_to_remove "Verwijder dit lid"
%p= f.link_to_add "Voeg een lid toe", :commission_memberships
