%h1= t(:edit_commission).capitalize

= form_for(@commission) do |f|

  = render 'fields', :f => f

  #actions
  =f.submit :wijzigen

%h2 Leden
- @commission_memberships.each do |commem|
	
  %li
    = commem.user.name
    = commem.function
    - show_to :admin do
      = link_to 'verwijder', commem, :method => :delete, :confirm => "Weet je het zeker?", :title => "Verwijder #{commem.user.name}"

= render 'shared/commission_memberhsip_form'