%h1 
  =t(:kronoscommissions).capitalize
%p.lead
  =t(:comover).capitalize
%table.table.table-striped
  %thead
    %tr 
      %th 
        =t(:naam).capitalize
      - if can? :update, Commission
        %th
          =t(:rol).capitalize
  %tbody
    - @commissions.each do |commission|
      %tr
        %td 
          = link_to commission.name, commission
        - if can? :update, commission
          %td
            = commission.role
          %td
            = link_to "edit", edit_commission_path(commission)
        - if can? :destroy, commission
          %td
            = link_to "delete", commission, :method => :delete, :confirm => "Weet je zeker dat je #{commission.name} uit de commissielijst wilt verwijderen?", :title => "Verwijder #{commission.name}"
- if can? :create, Commission
  = link_to new_commission_path, :class => 'btn btn-small' do
    <i class="icon-file"></i>
    =t(:nieuw).capitalize