%h1 Alle Commissies

- if can? :create, Commission
  = link_to "Commissie Toevoegen", new_commission_path

%ul{:class => "commissions"}

  - @commissions.each do |commission|
    %li
      = link_to commission.name, commission
      - if can? :update, commission
        = link_to "edit", edit_commission_path(commission)
        - if can? :destroy, commission
          = link_to "delete", commission, :method => :delete, :confirm => "Weet je zeker dat je #{commission.name} uit de commissielijst wilt verwijderen?", :title => "Verwijder #{commission.name}"
