-if I18n.locale == :nl
  %h1= @commission.name
-else
  %h1= @commission.name_en
%p.lead
  -if I18n.locale == :nl
    = @commission.description
  -else
    = @commission.description_en
- if can? :see_email, @commission
  %strong Email
  = mail_to @commission.email
- if can? :update, @commission
  %p
    %strong=:role.capitalize
    = @commission.role
%table.table.table-striped
  %thead
    %tr 
      %th=t(:name).capitalize
      %th=t(:function).capitalize
  %tbody    
    - @commission_memberships.each do |commem|
      %tr
        %td
          = commem.user.name
        %td
          = commem.function
          - if can? :destroy, commem
            = link_to 'Lid uit commissie verwijderen', commem, :method => :delete, :confirm => "Weet je zeker dat je #{commem.user.name} uit de commissie wilt verwijderen?", :title => "Verwijder #{commem.user.name}"
- if can? :update, @commission
  = link_to 'Commissie aanpassen', edit_commission_path(@commission)
- if can? :destroy, @commission
  %li
  = link_to 'Commissie verwijderen', @commission, :method => :delete, :confirm => "Weet je zeker dat je #{@commission.name} uit de commissielijst wilt verwijderen?", :title => "Verwijder #{@commission.name}"