-if I18n.locale == :nl
  %h1= @commission.name
-else
  %h1= @commission.name_en
%p.lead
  -if I18n.locale == :nl
    = @commission.description
  -else
    = @commission.description_en
- if can? :see_email, @commission
  %strong Email
  = mail_to @commission.email
- if can? :update, @commission
  %p
    %strong=:role.capitalize
    = @commission.role
- if current_user.nil?
  %table.table.table-striped
    %thead
      %tr
        %th=t(:name).capitalize
        %th=t(:function).capitalize
    %tbody
      - @commission_memberships.each do |commem|
        %tr
          %td
            = commem.user.name
          %td
            = commem.function
            - if can? :destroy, commem
              = link_to 'Lid uit commissie verwijderen', commem, :method => :delete, :confirm => "Weet je zeker dat je #{commem.user.name} uit de commissie wilt verwijderen?", :title => "Verwijder #{commem.user.name}"
- if not current_user.nil?
  %hr
  %h2
    = t(:commission_members).capitalize
  - @commission_memberships.each_with_index do |commem, index|
    %div.commission-member{:class => ( "reverse" if index % 2 == 1)}
      %div.member-avatar
        = image_tag(commem.user.avatar.url(:pass), class: "media-object img-rounded")
      %div.member-name
        %h3
          = commem.user.name + " - " + commem.function
        - if can? :destroy, commem
          = link_to 'Lid uit commissie verwijderen', commem, :method => :delete, :confirm => "Weet je zeker dat je #{commem.user.name} uit de commissie wilt verwijderen?", :title => "Verwijder #{commem.user.name}"

- if can? :update, @commission
  = icon_button edit_commission_path(@commission), 'edit', 'Commissie aanpassen'
- if can? :destroy, @commission
  = icon_button @commission, 'remove', 'Commissie verwijderen',  :method => :delete, :confirm => "Weet je zeker dat je #{@commission.name} uit de commissielijst wilt verwijderen?", :title => "Verwijder #{@commission.name}"