%h1= @commission.name

%ul{:class =>"commission"}
  %li
    = t(:name).capitalize + ": " + @commission.name 
    %br
  %li
    = t(:description).capitalize + ": " + @commission.description
    %br
  %li
    = t(:email).capitalize + ": " + @commission.email
    %br
  
  - @commission_memberships.each do |commem|

    %li
      = commem.user.name
      = commem.function
  - show_to :admin do
    %li
      = link_to 'Commissie aanpassen', edit_commission_path(@commission)
    %li
      = link_to 'Commissie verwijderen', @commission, :method => :delete, :confirm => "Weet je zeker dat je #{@commission.name} uit de commissielijst wilt verwijderen?", :title => "Verwijder #{@commission.name}"