= form_for @chatmessage, :html => {:class => "well form form-horizontal "} do |f|  
  %legend Nieuw bericht  
  .input-group
    %span.input-group-addon
      %i.glyphicon.glyphicon-user
    = f.text_field :by, :class => "form-control", :placeholder => t(:name)
  .input-group
    %span.input-group-addon
      %i.glyphicon.glyphicon-envelope
    = f.text_field :email,:class => "form-control", :placeholder => t(:email)
  = f.text_area(:message, :rows => "3", :class => "span3 markItUp")
  = f.submit :class => "btn btn-primary"