<h1>Chatboxarchief</h1>
<% @chatmessages.each do |chatmessage| %>
<table>
  <tr>
    <td class="chatboxhead"><%= chatmessage.by %></td>
    <td class="chatboxhead"><%= chatmessage.created_at.strftime("%d %b (%H:%M)") %></td>
    <td><%= link_to 'Edit', edit_chatmessage_path(chatmessage) %></td>
    <td><%= link_to 'Destroy', chatmessage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <tr>
    <td colspan="4" class="chatboxend"><%= simple_format(chatmessage.message, :class => 'chatmessage') %></td>
  </tr>
</table>
<% end %>