<h1>Chatboxarchief</h1>
<% @chatmessages.each do |chatmessage| %>
<table>
  <tr>
    <td class="chatboxhead"><%= if chatmessage.user; link_to chatmessage.by, chatmessage.user else mail_to chatmessage.email, chatmessage.by end %></td>
    <td class="chatboxhead"><%= chatmessage.created_at.strftime("%d %b (%H:%M)") %></td>
    <td><%= if chatmessage.allow_edit?(current_user); link_to 'Edit', edit_chatmessage_path(chatmessage) end %></td>
    <td><%= if chatmessage.allow_destroy?(current_user); link_to 'Destroy', chatmessage, confirm: 'Are you sure?', method: :delete end %></td>
  </tr>
  <tr>
    <td colspan="4" class="chatboxend"><%= sanitize(simple_format(chatmessage.message, :class => "chatmessage")) %></td>
  </tr>
</table>
<% end %>
