%h1 Kronos chatbox
%br
.row
  .span6.chatmessages

    - @chatmessages.each do |chatmessage|
      .row
        - if chatmessage.user
          .span1
            .chatimage
              =image_tag chatmessage.user.avatar.url(:thumb)
        .span5.small-left-margin
          .chattext
            .row
              .span5
                = if chatmessage.user; link_to chatmessage.by, chatmessage.user else mail_to chatmessage.email, chatmessage.by end
            .row
              .span5
                = markdown chatmessage.message
          
          
                - if can? :update, chatmessage
                  = link_to raw("<i class='icon-edit'></i>"), edit_chatmessage_path(chatmessage)
                - if can? :destroy, chatmessage
                  = link_to raw("<i class='icon-remove'></i>"), chatmessage, confirm: 'Are you sure?', method: :delete
                .row
        
                  .span5
                    - if chatmessage.created_at > 1.day.ago
                      = h time_ago_in_words chatmessage.created_at
                      geleden
                    - else
                      = time_tag(chatmessage.created_at)
      .row
        .span6
          %hr
        

    = will_paginate @chatmessages, :previous_label => '<', :next_label => '>'

  .span6
    = render 'form'