%h1 
  =t("chatmessage.page_title")
%br
.row
  .span6.chatmessages
    - @chatmessages.each do |chatmessage|
      .row
        - if chatmessage.user
          .span1
            .chatimage 
              = link_to image_tag(user.avatar.url(:thumb)), chatmessage.user, :class => "thumbnail"
        %div{ :class => chatmessage.user ? 'span5' : 'span5 offset1' }
          .chattext
            %strong
              - if chatmessage.user
                = link_to chatmessage.by, chatmessage.user
              - else 
                = mail_to chatmessage.email, chatmessage.by
            %p= markdown chatmessage.message
            - if can? :update, chatmessage
              = link_to raw("<i class='icon-edit'></i>"), edit_chatmessage_path(chatmessage)
            - if can? :destroy, chatmessage
              = link_to raw("<i class='icon-remove'></i>"), chatmessage, confirm: 'Are you sure?', method: :delete
            %p
              %small
                - if chatmessage.created_at > 1.day.ago
                  = h time_ago_in_words chatmessage.created_at
                  geleden
                - else
                  = time_tag(chatmessage.created_at)
      .row
        .span6
          %hr
    = will_paginate @chatmessages, :previous_label => '<', :next_label => '>'
  .span6
    = render 'form'