%h1 Kronos chatbox

- @chatmessages.each do |chatmessage|
  %table
    %tr
      %td.chatboxhead
        = if chatmessage.user; link_to chatmessage.by, chatmessage.user else mail_to chatmessage.email, chatmessage.by end
      %td.chatboxhead
        = chatmessage.created_at.strftime("%d %b (%H:%M)")
      %td
        = if chatmessage.allow_edit?(current_user); link_to 'Edit', edit_chatmessage_path(chatmessage) end
      %td
        = if chatmessage.allow_destroy?(current_user); link_to 'Destroy', chatmessage, confirm: 'Are you sure?', method: :delete end
    %tr
      %td.chatboxend
        = simple_format(chatmessage.message)

= will_paginate @chatmessages, :previous_label => '<', :next_label => '>'

%div
  = render 'form'