.row
  .col-lg-12
    %h1.push-down-for-logo
      =t("chatmessage.page_title")

.row
  .col-lg-6.chatmessages
    - @chatmessages.each do |chatmessage|
      .row
        - if chatmessage.user
          .col-lg-2
            .chatimage
              = link_to image_tag(chatmessage.user.avatar.url(:thumb)), chatmessage.user, :class => "thumbnail"
        %div{ :class => chatmessage.user ? 'col-lg-10' : 'col-lg-10 col-lg-offset-2' }
          .chattext
            %strong
              - if chatmessage.user
                = link_to chatmessage.by, chatmessage.user
              - else
                = mail_to chatmessage.email, chatmessage.by
            %p= markdown chatmessage.message
            - if can? :update, chatmessage
              = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), edit_chatmessage_path(chatmessage)
            - if can? :destroy, chatmessage
              = link_to raw("<span class='glyphicon glyphicon-remove'></span>"), chatmessage, confirm: 'Are you sure?', method: :delete
            %p
              %small
                - if chatmessage.created_at > 1.day.ago
                  = h time_ago_in_words chatmessage.created_at
                  geleden
                - else
                  = time_tag(chatmessage.created_at)
      .row
        .col-lg-12
          %hr
    = will_paginate @chatmessages, :previous_label => '<', :next_label => '>'
  .col-lg-6
    = render 'form'
