<b>Caption:</b> <%= @photo.caption %>
<div id="albumscroller">
  <h2 id="imprev" onclick='showprev(this)'><</h2>
  <% counter = 0; selectedphoto = 0 %><% @photo.photoalbum.photos.each do |p| %><% if p.youtube_id == "" %><%= link_to image_tag(p.photo.url(:thumb), :id => "image"+counter.to_s), p %><% else %><%= link_to image_tag("http://img.youtube.com/vi/"+p.youtube_id+"/0.jpg", :id => "image"+counter.to_s), p %><% end %><% 
    if @photo == p
      selectedphoto = counter;
    end
    counter = counter + 1 
  %><% end %>
  <h2 id="imnext" onclick='shownext(this)'>></h2>
</div>
<div id="tagged_image"><% if @photo.youtube_id == "" %><%= image_tag @photo.photo.url %><% else %><img src="/system/4staattot3spacer.gif" /><iframe src="http://www.youtube.com/embed/<%= @photo.youtube_id %>?rel=0&autoplay=1"></iframe><% end %><div><% @photo.tags.each do |tag| %><%= link_to content_tag(:span, tag.user.name), tag.user, :style => "top:"+tag.ypos.to_s+"%;left:"+tag.xpos.to_s+"%;width:"+tag.width.to_s+"%;height:"+tag.heigth.to_s+"%;" %><% end %></div></div>

<p>
<%= link_to 'Back', @photo.photoalbum %>
</p>

<input id="numberofphotosinalbum" type="hidden" value="<%= @photo.photoalbum.photos.count %>" />
<input id="selectedphotoinalbum" type="hidden" value="<%= selectedphoto %>" />
