<b>Caption:</b> <%= @photo.caption %>
<div id="albumscroller">
  <h2 id="imprev" onclick='showprev(this)'><</h2>
  <% counter = 0; selectedphoto = 0 %><% @photo.photoalbum.photos.each do |p| %><%= link_to image_tag(p.photo.url(:thumb), :id => "image"+counter.to_s), p %><% 
    if @photo == p
      selectedphoto = counter;
    end
    counter = counter + 1 
  %><% end %>
  <h2 id="imnext" onclick='shownext(this)'>></h2>
</div>
<div id="tagged_image"><%= image_tag @photo.photo.url %><div><% @photo.tags.each do |tag| %><%= link_to content_tag(:span, tag.user.name), tag.user, :style => "top:"+tag.ypos.to_s+"%;left:"+tag.xpos.to_s+"%;width:"+tag.width.to_s+"%;height:"+tag.heigth.to_s+"%;" %><% end %></div></div>

<p>
<%= link_to 'Back', @photo.photoalbum %>
</p>

<input id="numberofphotosinalbum" type="hidden" value="<%= @photo.photoalbum.photos.count %>" />
<input id="selectedphotoinalbum" type="hidden" value="<%= selectedphoto %>" />