%h1 Login

%div#login
  =form_for @user_session, :url => user_session_path do |f|
    %br
    = f.label :login
    = f.text_field :login
    = f.label :password
    = f.password_field :password
    %label.checkbox
      = t :remember_me
      = f.check_box :remember_me
    = f.submit "Login", :class => "btn"