%h1 Login

%div#login
  =form_for @user_session, :url => user_session_path do |f|
    %br
    = f.label :login
    = f.text_field :login
    = f.label :password
    = f.password_field :password
    = f.label :remember_me
    = f.check_box :remember_me 
    %br
    %br
    = f.submit "Login"