%footer.app
  .container
    .row.sponsor-white
      .col-xs-4
        .sponsor-text
          Sponsoren
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-rdd.PNG', :alt => 'Red Drop Design'), 'https://www.reddropdesign.nl/'
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-UVE.png', :alt => 'UitvaartverzekeringExpert'), 'https://www.uitvaartverzekeringexpert.nl/'
    .row.sponsor-white
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-twenteinvest.jpg', :alt => 'Twente Invest! Beter in Vastgoed!'), 'https://www.twenteinvest.nl/'
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-auto.png', :alt => 'Autoverzekering vergelijken'), 'https://www.autoverzekering.nl/'
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-overstappen.jpg', :alt => 'Goedkope autoverzekering'), 'https://www.overstappen.nl/autoverzekering/'
    .row.sponsor-white
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-easyswitch.svg', :alt => 'energie vergelijken'), 'https://www.easyswitch.nl/energie-vergelijken/'
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-simonly.png', :alt => 'vergelijk alle sim only providers op SimOnlyDiscount!', :class => 'center-block'), 'https://www.simonlydiscount.nl/sim-only-providers.html'
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-tvexpert.png', :alt => 'een virtual reality (vr) bril kopen? Bezoek de TvExpert!', :class => 'center-block'), 'https://www.tvexpert.nl/android/virtual-reality-vr-bril.html'
    .row.sponsor-white      
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-radiocontrol.png', :alt => 'een radiografisch bestuurbare (rc) tank kopen? Bezoek de RadioControlExpert!', :class => 'center-block'), 'https://www.radiocontrolexpert.nl/rc/rc-tank.html'
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-huizenmarkt.png', :alt => 'Huizenmarkt.nl amsterdam'), 'https://www.huizenmarkt.nl/huren/amsterdam'
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-uitvaart.png', :alt => 'uitvaartverzekeringvergelijken.com'), 'https://www.uitvaartverzekeringvergelijken.com'
    .row.sponsor-white
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-geldnl.png', :alt => 'geld.nl'), 'https://www.geld.nl/autoverzekering/vergelijken'
      .col-xs-4
        = link_to image_tag('sponsors/sponsor-breukers.jpg', :alt => 'Breukers verhuur'), 'http://www.breukersverhuur.nl'
    .row
      .col-md-3.adresgegevens
        %address
          %b Drienerlose Atletiek Vereniging Kronos<br />
          Postbus 217<br />
          7500 AE Enschede<br />
          = mail_to 'info@kronos.nl'
