%footer.app
  .container
    .row.sponsor-white
      .col-xs-3
        = link_to image_tag('sponsors/sponsor-twenteinvest.jpg', :alt => 'Twente Invest! Beter in Vastgoed!'), 'https://www.twenteinvest.nl/'
      .col-xs-3
        = link_to image_tag('sponsors/sponsor-auto.png', :alt => 'Autoverzekering vergelijken'), 'https://www.autoverzekering.nl/'
      .col-xs-3
        = link_to image_tag('sponsors/sponsor-overstappen.jpg', :alt => 'Autoverzekering vergelijken'), 'https://www.overstappen.nl/autoverzekering/#/'
      .col-xs-3
        = link_to image_tag('sponsors/sponsor-easyswitch.svg', :alt => 'Energievergelijker'), 'https://www.easyswitch.nl/energie-vergelijken/'
    .row.sponsor-white
      .col-xs-3
        = link_to image_tag('sponsors/sponsor-simonly.png', :alt => 'vergelijk alle sim only providers op SimOnlyDiscount!', :class => 'center-block'), 'https://www.simonlydiscount.nl/sim-only-providers.html'
      .col-xs-3
        = link_to image_tag('sponsors/sponsor-tvexpert.png', :alt => 'een virtual reality (vr) bril kopen? Bezoek de TvExpert!', :class => 'center-block'), ' https://www.tvexpert.nl/android/virtual-reality-vr-bril.html'
      .col-xs-3
        = link_to image_tag('sponsors/sponsor-radiocontrol.png', :alt => 'een radiografisch bestuurbare (rc) tank kopen? Bezoek de RadioControlExpert!', :class => 'center-block'), 'https://www.radiocontrolexpert.nl/rc/rc-tank.html'
      .col-xs-3
        = link_to image_tag('sponsors/sponsor-huizenmarkt.png', :alt => 'Huizenmarkt.nl amsterdam'), 'https://www.huizenmarkt.nl/huren/amsterdam'
    .row
      .col-xs-3.adresgegevens
        %address
          %b Drienerlose Atletiek Vereniging Kronos<br />
          Postbus 217<br />
          7500 AE Enschede<br />
          = mail_to 'info@kronos.nl'