%header
  %div{:class => "navbar navbar-fixed-top"}
    %div{:class => "navbar-inner"}
      %div{:class => "ie-navbar-fix"}
      %div{:class => "container"}
        <a class="brand" href="/">#{image_tag "/system/logo_kronos_fuzzy.png", :width => "82", :height => "57"}Kronos</a>
        %ul.nav
          %li
            = link_to "Home", home_path
          %li.dropdown
            <a href="#" class="dropdown-toggle"data-toggle="dropdown">
            Agenda
            <b class="caret"></b>
            </a>
            %ul.dropdown-menu
              %li
                = link_to "Overzicht", agendaitems_path
              %li
                = link_to "Wedstrijden", '/wedstrijden'
          %li
            = link_to "Uitslagen", '/uitslagen'
          %li
            = link_to "Foto's", photoalbums_path
          %li
            = link_to "Chatbox", chatmessages_path
          - if !current_user
            %li.dropdown
              %a{ :href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
                Log in
                %b.caret
              %ul.dropdown-menu
                .span4
                  = render "user_sessions/new"
          - else
            %li
              = link_to current_user.name.split[0] + "'s stek", current_user
            %li
              = link_to "Leden", users_path
            - if current_user && current_user.admin?
              %li
                = link_to "Beheer", admin_path
            %li
              = link_to "Log uit", signout_path, :method => :delete