!!! 5
%html
  %head
    %title Kronos

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    = favicon_link_tag 'favicon.ico'
    -# stylesheets
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic|Roboto' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag 'application'

    -# javascript 
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    = javascript_include_tag 'application'
    - if @page_specific_scripts_in 
      = javascript_include_tag @page_specific_scripts_in 
    
    = csrf_meta_tag

  %body
    = render 'layouts/header'
    .container
      -# -flash.each do |key, value|
      -#   %div{:class => "alert alert-#{key} fade in"}
      -#     =value
      -#     %a{:class => :close, "data-dismiss" => "alert"} x
      = yield
    = render 'layouts/footer'
