!!! 5
%html
  %head
    %title Kronos: Sinds 1964 terug uit de Tartaros
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'pagination'
    = javascript_include_tag 'application'
    = favicon_link_tag
    = csrf_meta_tag

  %body
    .container
    
      = render 'layouts/header'
      
      %section{:class => "round"}
        -flash.each do |key, value|
          = content_tag :div, value, :class => "flash #{key}"
            

        = yield

