!!! 5
%html
  %head
    %title KronosWebsite
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = favicon_link_tag
    = csrf_meta_tag

  %body.kronos
    = render 'layouts/header'
    .container.round
      -flash.each do |key, value|
        %div{:class => "alert alert-#{key} fade in"}
          =value
          %a{:class => :close, "data-dismiss" => "alert"} x
      = yield
