!!! 5
%html
  %head
    %title KronosWebsite
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    .container
    
      = render 'layouts/header'
      
      %section{:class => "round"}
        -flash.each do |key, value|
          = content_tag :div, value, :class => "flash #{key}"

        = yield

