!!! 5
%html
  %head
    %title KronosWebsite
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'pagination'
    = javascript_include_tag 'application'
    = favicon_link_tag
    = csrf_meta_tag

  %body.kronos
    = render 'layouts/header'
    .container.round
      -flash.each do |key, value|
        - henk = key=="alert" ? "flash alert-#{key} fade in" : "flash alert fade in" 
        %div{:class => henk}
          =value
          %a{:class => :close, "data-dismiss" => "alert"} x
      = yield
