!!! 5
%html
  %head
    %title KronosWebsite
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'pagination'
    = javascript_include_tag 'application'
    = favicon_link_tag
    = csrf_meta_tag

  %body{ onload: "dowhenloaded()" }
    = render 'layouts/header'
    .container
      -flash.each do |key, value|
        = content_tag :div, value, :class => "flash #{key}"
      = yield
